<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <input type="text" id="mobile"> <button type="button" id="getCode">获取验证码</button>
        <br>
        <input type="text" id="sure_code"> <button type="button" id="subCode">提 交</button>
    </div>

    <script src="/admin/js/jquery.min.js"></script>
    <script>
        $('#getCode').on('click',function () {
            var mobile = $('#mobile').val();
            $.ajax({
                url: 'http://api.sms.ronghub.com/sendCode.json?appKey=8luwapkv8sqdl',
                type: 'POST',
                data: {
                    'mobile': mobile,
                    'templateId': 'erYt7CEDA1Y9FaBzxVPoLE',
                    'region': 86
                },
                success: function (request)
                {
                    console.log(request);
                }
            });
        });
    </script>
</body>
</html>