#app {
  height: 100%;
  background: #ffffff;
  overflow: hidden;
}
.container {
  align-items: flex-start;
  height: 100%;
}
.leftbar {
  width: 30%;
  height: 100%;
  background: #faf7fa;
  text-align: center;
  border-right: 1px solid #cccccc;
}
.barItem {
  border-bottom: 1px solid #cccccc;
  height: .88rem;
  line-height: .88rem;
  width: 100%;
  margin: 0;
}
.active.menu-text {
  color: #ff0000;
  border-left: 4px solid #ff0000;
  background: #ffffff;
}
.rightContent {
  width: 70%;
  height: 100%;
  overflow: auto;
}
.rightItem:nth-last-child(1) {
  margin-bottom: 0.88rem;
}
.category-item {
  padding: .1rem;
  border-bottom: 1px solid #cccccc;
  height: 2.3rem;
  align-items: flex-start;
}
.goods-img {
  width: 2rem;
  height: 2rem;
  margin-right: .2rem;
}
.goods-img img {
  width: 100%;
  height: 100%;
}
.goods-name {
  margin: .1rem 0;
}
.goods-textBox {
  text-align: left;
  flex: 1;
  width: 45%;
  font-size: 0.28rem;
  padding-right: .2rem;
}
.goods-coach {
  color: #ff0000;
  font-size: 0.28rem;
}
.goods-cartBox {
  text-align: right;
}
.goods-cartBox img {
  width: .4rem;
  height: .4rem;
}
