.container {
  background: #ff0000;
  height: 100%;
  color: #ffffff;
  text-align: center;
}
input {
  width: 100%;
  border: none;
  font-size: 0.24rem;
  height: 0.6rem;
  border-radius: 1rem;
  padding-left: .2rem;
}
.input-item {
  width: 60%;
  margin: 0 auto;
  margin-bottom: .4rem;
}
.logo {
  padding: 1.4rem 0;
  font-size: 0.8rem;
}
.tipBox {
  margin: 0 auto;
  width: 60%;
  justify-content: flex-end;
  color: #ffffff;
}
.tipBox .tip {
  margin-right: 0.2rem;
  color: #ffffff;
}
.onGo {
  margin: 0 auto;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: .3rem;
  width: 60%;
  background: #ffffff;
  color: #ff0000;
  text-align: center;
  font-size: 0.28rem;
  margin-bottom: 0.2rem;
}
.getYZM {
      color: #ffffff;
    width: 2rem;
    height: .88rem;
    border: none;
    background: red;
    font-size: 0.22rem;
}
