#order {
  padding-bottom: 0.88rem;
}
.page-content {
  background: #faf7fa;
}
.orderTop {
  margin: 0.2rem 0;
  padding: 0.3rem;
  border: 1px solid #cccccc;
  background: #fff;
}
.orderTop img {
  margin-right: 0.3rem;
}
.address {
  width: 100%;
}
.orderItem {
  border-bottom: 1px solid #cccccc;
  padding: 0.2rem;
  align-items: flex-start;
  background: #ffffff;
}
.orderText {
  width: 100%;
}
.orderImage {
  height: 2rem;
  width: 2rem;
  margin-right: 0.2rem;
}
.orderImage img {
  width: 2rem;
  display: block;
  height: 100%;
}
.orderDetail {
  flex: 1;
  align-items: flex-start;
  text-align: left;
  width: 62%;
}
.orderDetail .orderText p {
  margin-bottom: 0.15rem;
}
.order-name {
  text-align: left;
  font-size: 0.32rem;
}
.shopCoach {
  text-align: right;
  color: red;
  font-size: 0.3rem;
}
.shopNum {
  text-align: right;
  font-size: 0.3rem;
}
.orderBottom-detail {
  font-size: 0.24rem;
  padding-left: 0.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
}
.submitOrder {
  background: #ff0000;
  color: #ffffff;
  width: 2.6rem;
  text-align: center;
}
