
.customer-modal{
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 99999;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}


.yj-modal {
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    .modal-content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 30%;
        height: 10%;
        background-color: #fff;
    }
}

.btnModal {
    .btnModal-content {
        width: 5.5rem !important;
        height: 2.8rem !important;
        .btnModal-title {
            text-align: center;
            padding-top: 0.74rem;
            font-family: PingFangSC-Regular;
            font-size: 0.26rem;
            color: #696969;
            letter-spacing: 0.76px;
            line-height: 0.46rem;
        }
        .btnModal-bottom {
            height: 0.88rem;
            width: 100%;
            font-size: 0.26rem;
            text-align: center;
            line-height: 0.88rem;
            margin-top: 0.72rem;
            .btnModal-l {
                background: #FFFFFF;
                line-height: 0.88rem;
                font-family: PingFangSC-Regular;
                display: inline-block;
                width: 2.7rem;
                color: #B0924F;
                letter-spacing: 0.76px;
                margin: 0;
                padding: 0;
            }
            .btnModal-r {
                margin: 0;
                padding: 0;
                background: red;
                display: inline-block;
                width: 2.7rem;
                font-family: PingFangSC-Regular;
                font-size: 0.26rem;
                color: #FFFFFF;
                letter-spacing: 0.76px;
            }
        }
    }
}

.devisiveModal {
    .devisiveModal-content {
        width: 5.5rem;
        height: 3.82rem;
        .devisive-title {
            text-align: center;
            width: 100%;
            height: 0.98rem;
            border: 1px solid #7C7C7C;
            font-family: PingFangSC-Regular;
            font-size: 0.3rem;
            color: #696969;
            letter-spacing: 0.88px;
            line-height: 0.88rem;
        }
        .devisive-hr {
            width: 100%;
            height: 0.2rem;
            background: #cccccc;
        }
        .devisive-content {
            width: 100%;
            height: 1.76rem;
            .content-item {
                height: 0.88rem;
                border-bottom: 1px solid #CCCCCC;
                .content-l {
                    line-height: 0.88rem;
                    padding-left: 0.3rem;
                    font-family: PingFangSC-Regular;
                    font-size: 0.26rem;
                    color: #595959;
                    letter-spacing: 0.76px;
                }
                .content-r {
                    line-height: 0.88rem;
                    float: right;
                    padding-right: 0.3rem;
                    font-family: PingFangSC-Regular;
                    font-size: 0.26rem;
                    color: #8F8F8F;
                    letter-spacing: 0.76px;
                }
            }
        }
        .devisive-way {
            height: 0.88rem;
            line-height: 0.88rem;
            .way-item {
                vertical-align: middle;
                padding-left: 0.3rem;
                margin-right: 0.1rem;
                display: inline-block;
                .way-img {
                    margin-right: 0.1rem;
                    width: 0.3rem;
                    height: 0.3rem;
                    vertical-align: middle;
                }
                .way-text {
                    font-family: PingFangSC-Regular;
                    font-size: 0.26rem;
                    color: #595959;
                    letter-spacing: 0.76px;
                    line-height: 0.34rem;
                    vertical-align: middle;
                }
            }
        }
    }
}

.devisiveEP2Modal {
    .devisiveEP2Modal-content {
        width: 6.26rem;
        height: 3.62rem;
        .devisiveEP2-top {
            height: 0.88rem;
            line-height: 0.88rem;
            padding: 0 0.3rem;
            background: red;
            .devisiveEP2-l {
                font-family: PingFangSC-Regular;
                font-size: 0.26rem;
                color: #FFFFFF;
                letter-spacing: 0.76px;
                line-height: 0.34rem;
            }
            .devisiveEP2-r {
                float: right;
                font-family: PingFangSC-Regular;
                font-size: 0.26rem;
                color: #FFFFFF;
                letter-spacing: 0.76px;
            }
        }
        .devisiveEP2-content {
            margin: 0.45rem 0.3rem;
            .content-item {
                display: inline-block;
                .content-input {
                    margin: 0.01rem;
                    width: 0.8rem;
                    height: 0.8rem;
                    border: 1px solid #CCCCCC;
                }
            }
        }
        .devisiveEP2-bottom {
            margin-top: 0.3rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 0.26rem;
            color: #929292;
            letter-spacing: 0.76px;
            line-height: 0.88rem;
        }
    }
}

.deliveryModal {
    .deliveryModal-content {
        width: 5.5rem;
        height: 4.8rem;
        .deliveryModal-title {
            height: 0.88rem;
            line-height: 0.88rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 0.3rem;
            color: #696969;
            letter-spacing: 0.88px;
        }
        .deliveryModal-hr {
            width: 100%;
            height: 0.2rem;
            background: #CCCCCC;
        }
        .deliveryModal-center {
            .center-item {
                height: 0.88rem;
                line-height: 0.88rem;
                font-family: PingFangSC-Regular;
                font-size: 0.26rem;
                color: #595959;
                letter-spacing: 0.76px;
                .addr-parent {
                    padding-left: 1.03rem;
                }
                .addr-child {
                    padding-left: 1.19rem;
                }
            }
        }
        .deliveryModal-bottom {
            height: 0.88rem;
            line-height: 0.88rem;
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 0.26rem;
            color: #FFFFFF;
            background: red;
            letter-spacing: 0.76px;
        }
    }
}