@import "./mixins.less";

.navbar{
  background-color: @mainColor;
  .navbar-inner{
      padding-left: 3px;
      padding-right: 3px;
    .center{
      color: #fff;
      font-weight: 500 !important;
    }
  }
  &:after{
      background-color: #000;
  }
}