body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: "微软雅黑";
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body,html{min-width: 1200px;overflow-x:auto;}
.mg0{margin: 0!important;}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top: 30px}
.mt40{margin-top: 40px}
.mt55{margin-top: 55px}
.mt60{margin-top:60px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr29{margin-right: 29px;}
.mr34{margin-right: 34px;}
.ml20{margin-left: 20px;}
.ml10{margin-left: 10px}
.pt1{padding-top: 1px}
h3{font-weight: normal}
.bdno{
  border:none!important;}
.pt20{padding-top: 20px}
.clearfloat:after{display: block;content: '';
  height: 0;
  width: 0;clear: both;}

.container {
  width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}


/*头部*/
.header{
  background: #1f1f1f; padding: 18px 0; z-index: 9999;
  .logo{
    position: absolute; left:10px; top:50%; margin-top: -15px;
  }
  .nav{
    padding-left: 120px; padding-top: 16px;
    li{
      float:left;
      a{
        font-size: 16px; line-height: 28px; color:#989898; padding: 0 15px; margin:0 5px;
      }
    }
  }
  .divLink{
    position: absolute; right:10px; top:50%; margin-top:-22px;
    a{
      position: relative;
    }
    h3{
      font-size: 16px; line-height: 26px; color:#d9ab2b; font-weight: normal;
      span{
        display: inline-block; vertical-align: middle; width:10px; height: 6px; margin-left: 10px; background: url(../../images/ico_down.png) center no-repeat;
      }
    }
    p{
      font-size: 12px; line-height: 18px; color:#999;
    }
    i{
      position: absolute; width:42px; height: 42px; border-radius: 50%; overflow: hidden; left:-50px; top:1px; background: url(../../images/img_01.jpg) center no-repeat;
    }
  }
}
.header.active {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(31,31,31,0.9);
  /* transition: all 0.8s ease 0s; */
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, -80px);
  -moz-transform: translate(0, -80px);
  -ms-transform: translate(0, -80px);
  -o-transform: translate(0, -80px);
  transform: translate(0, -80px);
}
.header.selected {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0px);
}


/*内容*/
.banner{
  height: 500px;
  width: 100%;
  /*顶部轮播图样式*/
  .pc-slide {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .swiper-slide a img{
    width: 100%;
    height: 100%;
    display: block
  }
  .view .swiper-container {
    width: 100%;
    height: 500px;
  }

  .view .arrow-left {
    background: url(images/index_tab_l.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px;
    width: 28px;
    height: 51px;
    z-index: 10;
  }

  .view .arrow-right {
    background: url(images/index_tab_r.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -25px;
    width: 28px;
    height: 51px;
    z-index: 10;
  }

  .preview {
    width: 100%;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,1);
    padding: 15px 0;
  }

  .preview .swiper-container {
    width: 1200px;
    height: 133px;
  }

  .preview .swiper-slide {
    width: 219px;
    height: 133px;
  }


  .preview .arrow-left {
    background: url(images/feel3.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    z-index: 10;
  }

  .preview .arrow-right {
    background: url(images/feel4.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    z-index: 10;
  }

  .preview img {
    padding: 1px;
    width: 100%;
    height: 100%;
    display: block
  }

  .preview .active-nav img {

    padding: 0;
    //border: 1px solid #F00;
  }
  /*轮播图样式结束*/

}


.main{
  background: #1f1f1f;
  .main-box{
    padding: 30px 0;
    background: url(../../images/shijiao/bg.png) center repeat-y;
    //background-position: -188px 460px;
    background-size: 100% 100%;
    .main-title{
      background: #2B2B2B;
      margin-top: 50px;
      color: #C1A555;
      padding: 20px;
      h3,p,i{
        display: block;
        float: left;
        line-height: 32px;
      }
      i{
        font-size:28px;
        transform: scaleX(0.5);
        margin: 0 40px;
      }
      h3{
        font-size:32px;
      }
      p{
        font-size:14px;
      }
      span{
        font-size:16px;
        line-height: 32px;
        float: right;
        display: block;
        padding: 0 18px;
        border: 2px solid #D0A74B;
        border-radius:5px;
      }
    }
    .main1-con{
      margin-top: 50px;
      .main1-con-left{
        float: left;
        width: 720px;
        img{
          display: block;
          float: left;
        }
        .main1-con-left-p{
          height: 348px;
          margin-top: 120px;
          padding: 65px 40px 0 30px;
          background: #1D3438;
          float: left;
          width: 370px;
          color: white;
          box-sizing: border-box;
          .main1-con-left-p1{
            font-size:22px;
          }
          span{
            margin: 25px 0 30px 0;
            display: block;
          }
          img{
            position: relative;
            top:4px;
          }
          .main1-con-left-p2,span{
            line-height: 26px;
            letter-spacing:1px;
          }
        }
      }
      .main1-con-right{
        float: right;
        width: 425px;
        .main1-con-right1{
          padding-bottom:22px;
          border-bottom:2px solid #5F5F5F;
          img{
            display: block;
            float: left;
          }
          ul{
            float: right;
            padding: 12px 35px 0 0;
            li{
              width: 200px;
              font-size:16px;
              line-height: 30px;
              color: #E6E6E6;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
    .main2-con{
      .main2-1{
        width:519px;
        float: left;
        img{
          display: block;
        }
        .main2-1-p{
          background: white;
          padding: 10px 0 10px 20px;
          p{
            color: #B18D51;
            font-size:20px;
            line-height: 38px;
          }
          span{
            display: block;
            font-size:16px;
            line-height: 30px;
            width: 430px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
      .main2-2{
        float: left;
        width: 311px;
        img{
          display: block;
        }
        .main2-2-bottom{
          padding-top: 1px;
        }
        .main2-2-top,.main2-2-bottom{
          position: relative;
          .main2-2-img{
            width:311px;
            height: 182px;
          }
          .main2-2-shadow{
            width:311px;
            height: 182px;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 0px -35px 15px rgba(0, 0, 0, 0.6) inset;
          }
        }
        .main2-2-info{
          position: absolute;
          bottom:12px;
          color: white;
          padding-left: 20px;
          left: 0;
          span{
            display: block;
            margin-top: 5px;
            img{
              display: inline-block;
            }
          }
        }
      }
    }
    .main3-con{
      .main3-con-left{
        width: 670px;
        float: left;
        margin-right: 50px;
        .main2-con{
          .main2-2{
            .main2-2-img{
              width: 325px;
              height: 216px;
            }
            .main2-2-shadow{
              width:325px;
              height: 216px;
              position: absolute;
              top: 0;
              left: 0;
              box-shadow: 0px -35px 15px rgba(0, 0, 0, 0.6) inset;
            }
          }
        }
        .main3-con-left-bottom{
          img{
            display: block;
            height: 118px;
            width: 670px;
          }
        }
      }
      .main3-con-right{
        float: left;
        border-left: 2px solid #5F5F5F;
        padding-left: 50px;
        ul{
          width: 400px;
          li{
            margin-bottom: 12px;
            .main3-con-right-img{
              display: block;
              float: left;
              margin-right: 15px;
              width: 112px;
              height: 79px;
            }
            .main3-con-right-p{
              float: left;
              p{
                width: 270px;
                font-size: 16px;
                line-height: 30px;
                color: #E6E6E6;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              span{
                font-size:14px;
                line-height: 26px;
                color: #666666;
              }
            }
          }
        }
      }

    }
  }
}

/*底部轮播图样式*/
.picScroll-left{ width:1200px;height:316px;overflow:hidden; position:relative;margin: 0 auto;}
.picScroll-left .hd{ overflow:hidden;position: absolute;top: 150px;width: 1200px;margin: 0 auto;}
.picScroll-left .hd .prev,.picScroll-left .hd .next{width: 47px;height: 96px;display:block;cursor:pointer;color: #BFC0BF;font-size: 50px;}
.picScroll-left .hd .prev{float: right;}
.picScroll-left .hd .next{float: left;padding-left: 8px;}
.picScroll-left .hd img{display: block}
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.picScroll-left .hd ul li{ float:left;overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer;  }
.picScroll-left .hd ul li.on{ background-position:0 0; }
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ position: relative;margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{ text-align:center; }
.picScroll-left .bd ul li .pic img{ width:226px; height:316px; display:block;}
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title{ position: absolute;bottom: 18px;}
.picScroll-left .bd ul li .title img{display: block;float: left;border-radius: 50%;height: 36px;width: 36px;margin-right: 10px;margin-left: 20px;}
.picScroll-left .bd ul li .title span{display: block;float: left;color: white;line-height: 24px;position: relative;top: 8px;}
/*底部轮播图样式结束*/



/*底部样式*/
.footer{
  background: #18292c;
  .content{
    padding:36px 40px 0;
    .nav{
      li{
        float:left; margin-right: 160px;
        p{
          font-size: 24px; line-height: 24px; color:#8c9496; margin-bottom: 18px;
        }
        a{
          font-size: 16px; line-height: 30px; color:#48666a; padding: 5px 0;display: block;
        }
      }
    }
    .code{
      border: 1px solid #465456; padding:10px;
      img{
        margin-bottom: 8px;
      }
      p{
        font-size: 14px; line-height: 14px; color:#48666a; text-align: center; margin-top: 4px;
      }
    }
  }
  .copyright{
    padding:40px 0; font-size: 12px; line-height: 20px; color:#10434f; text-align: center;
  }
}
.fr{
  float: right;}
.fl{
  float: left;
}