#cart {
  text-align: center;
  height: 100%;
  background: #fff;
}
#cart .nopage {
  margin-top: 0.4rem;
}
#cart .nopage a {
  background: #ffb400;
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 4rem;
  margin: 0 auto;
  color: #fff;
}
#cart .noImg {
  margin-bottom: 0.3rem;
}
#cart .noText {
  margin-bottom: 0.4rem;
}
.cartContent {
  margin-bottom: 0.88rem;
}
.cartItem {
  border-bottom: 1px solid #cccccc;
  padding: 0.2rem;
  align-items: flex-start;
}
.cartImage {
  height: 2rem;
  width: 2rem;
  margin-right: 0.2rem;
}
.cartImage img {
  width: 2rem;
  display: block;
  height: 100%;
}
.cartText {
  width: 100%;
}
.shopRadio {
  align-self: center;
  margin-right: 0.2rem;
}
.shopRadio img {
  display: block;
}
.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 0.32rem;
}
.itemIntro {
  line-height: 0.44rem;
  color: #8B8989;
}
.cartDetail {
  flex: 1;
  align-items: flex-start;
  text-align: left;
}
.cartDetail .cartText p {
  margin-bottom: 0.15rem;
}
.cartOp input {
  width: 0.4rem;
  text-align: center;
  font-size: 0.38rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border: none;
}
.shopCoach {
  color: red;
  font-size: 0.3rem;
}
.freight {
  position: absolute;
  top: -0.88rem;
  left: 0.3rem;
  color: #666;
  font-size: 0.3rem;
}
.cartBottom-detail {
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  background: #fff;
  border-top: 1px solid #ccc;
  padding-left: 0.3rem;
  font-size: 0.32rem;
}
.cartBottom-detail a {
  /*background: #f06b68!important;*/
  color: #ffffff;
}
.bottom-left {
  flex: 1;
}
.subminCart {
  width: 3rem;
  background: red;
  color: #fff;
  text-align: center;
}
