#index {
  background: #efefef;
  margin-bottom: 1.2rem;
}
.header {
  background: green;
  color: #ffffff;
  font-size: 0.;
  height: 0.8rem;
  padding-left: 0.3rem;
}
.header img {
  margin-right: 0.2rem;
}
.circul {
  height: 3rem;
  width: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.address {
  margin-right: 0.2rem;
  color: #ffffff;
}
.top {
  height: 1.6rem;
  background: #ffffff;
}
.top-item p {
  margin-top: 0.1rem;
  text-align: center;
}
.productTop {
  padding-left: 0.2rem;
  padding-right: 0.1rem;
  margin-top: 0.1rem;
  height: 0.6rem;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}
.productTop img {
  margin-right: 0.1rem;
}
.productTop-text {
  color: #000;
}
.top-item {
  text-align: center;
}
.itemImg {
  width: 100%;
  height: 2.8rem;
}
.productItem:nth-of-type(odd) {
  border-right: 1px solid #ccc;
}
.productItem {
  width: 50%;
  background: #ffffff;
  box-sizing: border-box;
}
.itemBox {
  width: 100%;
  text-align: center;
}
.itemText {
  text-align: left;
  padding-left: 0.2rem;
}
.text-ellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.itemIntro {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  color: #8B8989;
}
.shopCoach {
  color: #ff0000;
  font-size: 0.3rem;
}
.addCartBox {
  text-align: right;
  margin-right: 0.2rem;
}
.addCartBox img {
  width: 0.4rem;
  height: 0.4rem;
}
