body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  background-color: #fff;
}
body,
html {
  min-width: 1200px;
  overflow-x: auto;
}
/*表单默认属性*/
input::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
textarea::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
input,
textarea {
  border-color: #CCCCCC;
  font-size: 14px;
  line-height: 26px;
  resize: none;
  outline: none;
  border: 1px solid #CCCCCC;
  text-indent: 10px;
}
textarea:focus {
  border-color: #D6A003;
}
input:focus {
  border-color: #D6A003;
}
.mg0 {
  margin: 0!important;
}
.mr40 {
  margin-right: 40px;
}
h3 {
  font-weight: normal;
}
.bdno {
  border: none!important;
}
.clearfloat:after {
  display: block;
  content: '';
  height: 0;
  width: 0;
  clear: both;
}
.container {
  width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/*内容*/
.main {
  background: #fff;
}
.main .main-box {
  background: url("../../../images/personal-homepage/bg.png") no-repeat;
  background-size: 100% auto;
  padding-top: 38px;
}
.main .main-box .grid-1 {
  background: #303030;
  padding: 45px 75px 25px 45px;
  position: relative;
}
.main .main-box .grid-1 .head-img {
  position: relative;
  width: 115px;
  height: 115px;
  float: left;
}
.main .main-box .grid-1 .head-img img {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
}
.main .main-box .grid-1 .head-img i.v {
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  background: url("../../../images/personal-homepage/shiming.png") no-repeat;
  background-size: 100% 100%;
  right: 12px;
  bottom: 0;
}
.main .main-box .grid-1 .personal-info {
  padding: 25px 20px;
  float: left;
}
.main .main-box .grid-1 .personal-info .user-name {
  font-size: 20px;
  color: #C29F4A;
  margin-bottom: 20px;
}
.main .main-box .grid-1 .personal-info .user-name span {
  width: 67px;
  height: 25px;
  background: url("../../../images/personal-homepage/pthuiyuan.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.main .main-box .grid-1 .personal-info .user-name .sex {
  width: 16px;
  height: 19px;
  display: inline-block;
  background: url("../../../images/personal-homepage/women.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 20px;
  position: relative;
  top: 3px;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit {
  display: block;
  float: left;
  color: #CCCCCC;
  margin-right: 30px;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit i {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit .address {
  display: inline-block;
  width: 13px;
  height: 17px;
  background: url("../../../images/personal-homepage/address.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit .star {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../../../images/personal-homepage/star.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit .hot {
  display: inline-block;
  width: 13px;
  height: 17px;
  background: url("../../../images/personal-homepage/hot.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit .gift {
  display: inline-block;
  width: 17px;
  height: 15px;
  background: url("../../../images/personal-homepage/gift.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-1 .sign-in-btn {
  width: 154px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 75px;
  margin: auto;
}
.main .main-box .grid-1 .sign-in-btn .sign-in {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 5px;
  background: url("../../../images/personal-homepage/sign-in.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 12px;
}
.main .main-box .grid-2 {
  padding: 30px 0;
}
.main .main-box .grid-2 .tabs1 .hd1 {
  width: 208px;
  float: left;
  background: #fff;
  margin-right: 10px;
}
.main .main-box .grid-2 .tabs1 .hd1 ul {
  border: 1px solid #E6E6E6;
  border-bottom: 0;
}
.main .main-box .grid-2 .tabs1 .hd1 ul li {
  line-height: 66px;
  font-size: 16px;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .hd1 ul li a {
  padding-left: 49px;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.main .main-box .grid-2 .tabs1 .hd1 ul .on {
  background: #000;
}
.main .main-box .grid-2 .tabs1 .hd1 ul .on a {
  color: #CBAD50;
}
.main .main-box .grid-2 .tabs1 .hd1 ul .on .right {
  width: 10px;
  height: 15px;
  background: url("../../../images/about-us/right.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
}
.main .main-box .grid-2 .tabs1 .bd1 {
  width: 975px;
  float: right;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 {
  border: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .hd {
  float: none;
  width: 100%;
  background: #FAFAFA;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .hd ul {
  padding-left: 30px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .hd ul li {
  float: left;
  font-size: 18px;
  padding: 0 14px;
  line-height: 65px;
  border-bottom: 2px solid #FAFAFA;
  margin-right: 65px;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .hd ul .on {
  color: #DBA02C;
  border-bottom: 2px solid #DBA02C;
  background: #FAFAFA;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd {
  background: #fff;
  float: none;
  box-sizing: border-box;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 {
  padding: 25px 30px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li {
  margin-bottom: 35px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-title {
  font-size: 12px;
  line-height: 42px;
  color: #96928A;
  background: #FEE9BB;
  padding: 0 30px 0 26px;
  border-top: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-title .list-state {
  font-size: 16px;
  color: red;
  float: right;
  display: block;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-title .list-state .redFlag {
  background: url("../../../images/personal-homepage/order-management/redflag.png") no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 19px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 4px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info {
  padding: 29px 30px 0 25px;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-title {
  font-size: 18px;
  color: #A7781E;
  margin-bottom: 15px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-title .info-label {
  width: 88px;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  background: url("../../../images/personal-homepage/order-management/bq-bg.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
  position: relative;
  top: -1px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info p {
  color: #A2A2A2;
  margin-bottom: 15px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-1 {
  margin-bottom: 10px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-1 .mod-1-unit {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-1 .mod-1-unit i {
  position: relative;
  top: 6px;
  background-size: 100% 100%;
  margin-right: 10px;
  display: inline-block;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-1 .mod-1-unit .money {
  width: 27px;
  height: 27px;
  background: url("../../../images/personal-homepage/order-management/money.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-1 .mod-1-unit .time {
  width: 25px;
  height: 25px;
  background: url("../../../images/personal-homepage/order-management/time.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-1 .mod-1-unit .address {
  width: 20px;
  height: 27px;
  background: url("../../../images/personal-homepage/order-management/address.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-2 {
  margin-bottom: 20px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-2 .mod-2-unit {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-2 .mod-2-unit span {
  color: #DCA12F;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-3 .mod-3-title {
  color: #DCA12F;
  margin-right: 10px;
  display: block;
  float: left;
  position: relative;
  top: 14px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-3 .mod-3-unit {
  float: left;
  margin-right: 15px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-3 .mod-3-unit .head-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-3 .mod-3-unit .head-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-3 .mod-3-unit .head-img i.gou {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -3px;
  display: block;
  background: url("../../../images/personal-homepage/order-management/checked.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-info .info-mod-3 .mod-3-unit p {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-btn {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  padding: 15px 32px;
  box-sizing: border-box;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-btn .close-order {
  padding: 0 24px;
  height: 38px;
  border: 2px solid #D6A93D;
  border-radius: 5px;
  line-height: 38px;
  text-align: center;
  float: right;
  color: #D6A93D ;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 li .list-btn .close-order:active {
  border-color: #B38608;
  color: #B38608;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .dropdown-box .dropdown {
  width: 253px;
  height: 40px;
  line-height: 40px;
  padding-left: 13px;
  border: 1px solid #E6E6E6;
  position: relative;
  margin-bottom: 18px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .dropdown-box .dropdown .caret {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px dashed #999;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn {
  width: 345px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 65px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn i,
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn span {
  display: block;
  float: left;
  text-align: center;
  line-height: 33px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn i {
  width: 53px;
  margin-right: 12px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn span {
  width: 33px;
  margin-right: 7px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn .active {
  background: #000;
  border-color: #000;
  color: #fff;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 {
  padding: 25px 30px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li {
  margin-bottom: 35px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-title {
  font-size: 12px;
  line-height: 42px;
  color: #96928A;
  background: #FEE9BB;
  padding: 0 30px 0 26px;
  border-top: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-title .list-state {
  font-size: 16px;
  float: right;
  display: block;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-title .list-state .greenFlag {
  background: url("../../../images/personal-homepage/order-management/greenflag.png") no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 19px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 4px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-title .list-state .redFlag {
  background: url("../../../images/personal-homepage/order-management/redflag.png") no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 19px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 4px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-title .list-state span.green {
  color: #39B971;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-title .list-state span.red {
  color: red;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info {
  padding: 29px 30px 0 25px;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-title {
  font-size: 18px;
  color: #A7781E;
  margin-bottom: 15px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-title .info-label {
  width: 88px;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  background: url("../../../images/personal-homepage/order-management/bq-bg.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
  position: relative;
  top: -1px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info p {
  color: #A2A2A2;
  margin-bottom: 15px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 {
  margin-bottom: 10px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 .mod-1-unit {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 .mod-1-unit i {
  position: relative;
  top: 6px;
  background-size: 100% 100%;
  margin-right: 10px;
  display: inline-block;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 .mod-1-unit .money {
  width: 27px;
  height: 27px;
  background: url("../../../images/personal-homepage/order-management/money.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 .mod-1-unit .time {
  width: 25px;
  height: 25px;
  background: url("../../../images/personal-homepage/order-management/time.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 .mod-1-unit .address {
  width: 20px;
  height: 27px;
  background: url("../../../images/personal-homepage/order-management/address.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 .mod-1-unit .people-number {
  width: 26px;
  height: 20px;
  background: url("../../../images/personal-homepage/order-management/people-number.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 .mod-1-unit .number {
  width: 24px;
  height: 24px;
  background: url("../../../images/personal-homepage/order-management/number.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-1 .mod-1-unit .renjun {
  width: 28px;
  height: 27px;
  background: url("../../../images/personal-homepage/order-management/renjun.png") no-repeat;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-2 {
  margin-bottom: 20px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-2 .mod-2-unit {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-2 .mod-2-unit span {
  color: #DCA12F;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-3 .mod-3-title {
  color: #DCA12F;
  margin-right: 10px;
  display: block;
  float: left;
  position: relative;
  top: 14px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-3 .mod-3-unit {
  float: left;
  margin-right: 15px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-3 .mod-3-unit .head-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-3 .mod-3-unit .head-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-3 .mod-3-unit .head-img i.gou {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -3px;
  display: block;
  background: url("../../../images/personal-homepage/order-management/checked.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-info .info-mod-3 .mod-3-unit p {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-btn {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  padding: 15px 32px;
  box-sizing: border-box;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-btn .close-order {
  padding: 0 24px;
  height: 38px;
  border-radius: 5px;
  line-height: 38px;
  text-align: center;
  float: right;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-btn .over {
  border: 2px solid #D6A93D;
  color: #D6A93D ;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-btn .pay {
  color: red;
  border: 2px solid red;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 li .list-btn .over:active {
  border-color: #B38608;
  color: #B38608;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .dropdown-box .dropdown {
  width: 253px;
  height: 40px;
  line-height: 40px;
  padding-left: 13px;
  border: 1px solid #E6E6E6;
  position: relative;
  margin-bottom: 18px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .dropdown-box .dropdown .caret {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px dashed #999;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn {
  width: 345px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 65px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn i,
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn span {
  display: block;
  float: left;
  text-align: center;
  line-height: 33px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn i {
  width: 53px;
  margin-right: 12px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn span {
  width: 33px;
  margin-right: 7px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn .active {
  background: #000;
  border-color: #000;
  color: #fff;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .dropdown-box {
  padding: 25px 30px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .dropdown-box .dropdown {
  width: 253px;
  height: 40px;
  line-height: 40px;
  padding-left: 13px;
  border: 1px solid #E6E6E6;
  position: relative;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .dropdown-box .dropdown .caret {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px dashed #999;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list {
  margin-bottom: 72px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-title ul {
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-title ul li {
  box-sizing: border-box;
  float: left;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 16px;
  background: #FAFAFA;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content {
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul li {
  float: left;
  height: 269px;
  box-sizing: border-box;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .video {
  padding-top: 23px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .video .video-img {
  width: 119px;
  height: 153px;
  margin: 0 auto;
  padding-bottom: 10px;
  position: relative;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .video .video-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .video .video-img .play {
  width: 33px;
  height: 33px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .video .special-img {
  width: 109px;
  height: 143px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .video .special-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .video p {
  text-align: center;
  margin-bottom: 5px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .video p.time {
  color: #A3A3A3;
  margin: 0;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .number p {
  text-align: center;
  font-size: 16px;
  color: #DBA02C;
  line-height: 269px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .game-currency {
  line-height: 269px;
  color: #DBA02C;
  text-align: center;
  font-size: 16px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .file-format {
  line-height: 269px;
  color: #DBA02C;
  text-align: center;
  font-size: 16px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .size {
  line-height: 269px;
  color: #DBA02C;
  text-align: center;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .down {
  position: relative;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .list-content ul .down span {
  cursor: pointer;
  width: 98px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  display: block;
  color: #828282;
  border: 2px solid #666666;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .video {
  width: 232px;
  border-right: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .game-currency {
  width: 152px;
  border-right: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .number {
  width: 153px;
  border-right: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .file-format {
  width: 116px;
  border-right: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .size {
  width: 132px;
  border-right: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .list .down {
  width: 188px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .page-btn {
  margin: 0 auto;
  margin-bottom: 72px;
  width: 345px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .page-btn i,
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .page-btn span {
  display: inline-block;
  line-height: 33px;
  border: 1px solid #ccc;
  text-align: center;
  color: #737373;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .page-btn i {
  width: 53px;
  margin-right: 12px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .page-btn span {
  width: 33px;
  margin-right: 7px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .ul-3-content .page-btn .active {
  color: #fff;
  background: #000;
  border-color: #000;
}
/*底部样式*/
.footer {
  background: #18292c;
}
.footer .content {
  padding: 36px 40px 0;
}
.footer .content .nav li {
  float: left;
  margin-right: 160px;
}
.footer .content .nav li p {
  font-size: 24px;
  line-height: 24px;
  color: #8c9496;
  margin-bottom: 18px;
}
.footer .content .nav li a {
  font-size: 16px;
  line-height: 30px;
  color: #48666a;
  padding: 5px 0;
  display: block;
}
.footer .content .code {
  border: 1px solid #465456;
  padding: 10px;
}
.footer .content .code img {
  margin-bottom: 8px;
}
.footer .content .code p {
  font-size: 14px;
  line-height: 14px;
  color: #48666a;
  text-align: center;
  margin-top: 4px;
}
.footer .copyright {
  padding: 40px 0;
  font-size: 12px;
  line-height: 20px;
  color: #10434f;
  text-align: center;
}
.fr {
  float: right!important;
}
.fl {
  float: left!important;
}
