/*右边区域公共布局*/
/**
 右边布局
 */
.index-right {
    cursor: default;
}

.header-right {
    margin-left: 68px;
    margin-top: 10px;
}

.fileText {
    vertical-align: middle;
    padding-right: 18px;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.right-content {
    margin-top: 19px;
    padding-top: 20px;
    padding-left: 20px;
    width: 260px;
}

.form-group {
    margin-bottom: 0;
    cursor: pointer;
}

.input-group {
    line-height: 1.1 !important;
}

.dropdown {
    margin: 10px 0;
    position: relative;
}

.dropdown-toggle {
    text-align: left;
}

.dropdown-toggle span {
    

}

.rightDrop {
    position: relative;
    margin-bottom: 10px;
}

.rightDrop span {
    right: 6px;
    top: 0;
    position: absolute;
}

.rightFilte {
    width: 230px;
    padding: 0 10px;
    background: #ffffff;
}
.rightDropMenu{
    position: absolute !important;
    width: 230px;
    height: 130px;
    left: 1px!important;
    top: 19px !important;
}
.rightDropMenu li{
    text-align: center;
    padding: 10px;
}

.rightDropMenu1, .rightDropMenu2, .rightDropMenu3 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.rightDropMenu1 > li > a, .rightDropMenu2 > li > a, .rightDropMenu3 > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.open > .rightDropMenu1, .open > .rightDropMenu2, .open > .rightDropMenu3 {
    display: block;
}

.contackTitle {
    margin-top: 20px;
    position: relative;
}

.contackTitle-l {
    float: left;
}

.contackListText {
    margin-left: 20px;
    font-size: 16px;
    color: #8f94a1;
    font-weight: bold;
}

.contackTitle-r {
    float: right;
}

.contackList {
    margin-right: -13px;
    padding-right: 7px;
    overflow-y: auto;
}

.contackList-item {
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.contactName {
    height: 50px;

}

.contactUser {
    margin-bottom: 5px;
}

.contackList img {
    float: left;
    margin-right: 10px;
}

.photo {
    width: 40px;
    height: 40px;
}

.contackList span {
    position: relative;
    top: -39px;
    float: right;
}

.badge {
    background: red;
}




.session::before {
    content: url(../img/icon/session.png);
}

.arrow_down::before {
    content: url(../img/icon/arrow_down.png);
}

.contackTitle-l::before {
    content: url(../img/icon/contactList.png);
}

.contackTitle-r::before {
    content: url(../img/icon/addContact.png);
}

.glyphicon-arrow-left:before {
    content: url(../img/icon/leftarrow.png);
}

.glyphicon-arrow-right:before {
    content: url(../img/icon/rightarrow.png);
}
/**
 默认样式和图标修改
 */
.table-condensed {
    text-align: center !important;
    color: #a6a9b3;
    width: 100%;
}
.contackList {
    margin-right: -13px;
    padding-right: 7px;
    overflow-y: auto;
    height: 500px;
}

.table-condensed tfoot {
    display: none;
}

.table-condensed > thead > tr > .switch {
    font-size: 15px;
    font-weight: bold;
    color: #747a8c;
}

.table-condensed > thead {
    border-bottom: 1px solid #cccccc;
}

th {
    text-align: center;
    font-weight: normal;
}