

/**
图标样式
 */
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: 0px;
}

.glyphicon-minus{position: relative}

.glyphicon-minus:before {
    margin-right: 30px;
    content: "123";
    display: block;
    height: 26px;
    width: 28px;
    line-height: 27px;
    text-align: center;
    background: url(../img/icon/file-un.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 12px;
}

.glyphicon-minus:after{
    font-size: 8px;
    content: "123";
    display: block;
    width: 22px;
    height: 13px;
    position: absolute;
    right: -10px;
    top: -5px;
    background: red;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 0px;
    background-color: #fff;
    border-bottom: 0px solid #ddd;
}

.company::before {
    content: url(../img/icon/company.png);
}

.auth1::before {
    content: url(../img/icon/auth.png);
}

.btn-search::before {
    content: url(../img/icon/search2.png);
}

.btn-draftSearch::before {
    content: url(../img/icon/search2.png);
}

.btn-moveSearch:before{
    content: url(../img/icon/searchicon.png);
}

.contractManage::before {
    content: url(../img/icon/contractManage.png);
}

.copyright::before {
    content: url(../img/icon/copyright.png);
}

.fair1::before {
    content: url(../img/icon/fair.png);
}

.register::before {
    content: url(../img/icon/register.png);
}

.translate::before {
    content: url(../img/icon/translate.png);
}

.draftContract::before {
    content: url(../img/icon/draftContract.png);
}
.btn-creatHT::before{
    content: url(../img/icon/draftContract.png);
    vertical-align: middle;
    margin-right: 4px;
}
.btn-newHT::before {
    content: url(../img/icon/creatHTBtnicon.png);
    margin-right: 8px;
    vertical-align: middle;
}
.btn-uploads::before {
    content: url(../img/icon/uploadicon.png);
    margin-right: 8px;
    vertical-align: middle;
}
.newfolder::before {
    content: url(../img/icon/newFolder.png);
}

.shouye::before {
    content: url(../img/icon/shouye.png);
    padding-right: 10px;
    vertical-align: middle;
}

.backEidtor::before,.quitEditor::before,.backEidtorQtype::before,.versionManageBack::before,.backVersionManage::before,.quitHTEditor:before,.backEditorHide:before,.backToEditor:before{
    content: url(../img/icon/back.png);
}

.cancelSign::before{
    content: url(../img/icon/back.png);
}

.insureCreate::before{
    content: url(../img/icon/insure.png);
}

.versionEditor::before{
    content: url(../img/icon/versionEditor.png);
    position: absolute;
    left: 20px;
}

.signRecord::before{
     content: url(../img/icon/signRecord.png);
     position: absolute;
     left: 10px;
 }

.addReceive::before{
    content: url(../img/icon/addReceive.png);
    position: absolute;
    left: 5px;
}

.versionCheck::before{
    content: url(../img/icon/versionCheck.png);
    position: absolute;
    left: 10px;
}

.insureDraft::before{
    content: url(../img/icon/versionCheck.png);
}

.eSign::before{
    content: url(../img/icon/eSign.png);
}

.versionPDF::before{
    content: url(../img/icon/versionPDF.png);
    position: absolute;
    left: 10px;
}

.versionWord::before{
    content: url(../img/icon/versionWord.png);
    position: absolute;
    left: 10px;
}

.versionShare::before{
    content: url(../img/icon/versionShare.png);
    position: absolute;
    left: 20px;
}

.insureDown::before{
    content: url(../img/icon/insureDown.png);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 18px;
}

.continue:after{
    content: url(../img/icon/continue.png);
    position: absolute;
    margin-left: 8px;
    top: 28px;
}

.listView::before {
    content: url(../img/icon/list_icon_nor.png);
}

.activeBtn .listView::before {
    content: url(../img/icon/listView.png);
}

.thub::before {
    content: url(../img/icon/thub.png);
}

.activeBtn .thub::before {
    content: url(../img/icon/thub_icon_nor.png);
}

.refresh::before {
    content: url(../img/icon/refresh.png);
}

.tool-toTop:before,.toolChild-toTop:before{
    content: url(../img/icon/tool_toTop_no.png);
    padding-right: 10px;
}

.tool-reName:before,.toolChild-reName:before{
    content: url(../img/icon/tool_rename.png);
    padding-right: 10px;
}

.tool-download:before,.toolChild-download:before{
    content: url(../img/icon/download_icon_yes.png);
    padding-right: 10px;
}

.tool-remove:before,.toolChild-remove:before{
    content: url(../img/icon/tool_remove_nor.png);
    padding-right: 10px;
}
.tool-Move:before{
    content: url(../img/icon/tool_move.png);
    padding-right: 10px;
}

.tool-FileMove:before{
    content: url(../img/icon/tool_move.png);
    padding-right: 10px;
}

.tool-Filedownload:before{
    content: url(../img/icon/download_icon_yes.png);
    padding-right: 10px;
}

.tool-Fileremove:before{
    content: url(../img/icon/tool_remove_nor.png);
    padding-right: 10px;
}

.popover{
    max-width: 500px!important;
}

/**
激活图标样式
 */

.active .company::before {
    content: url(../img/icon/company2.png);
}

.active .contractManage::before {
    content: url(../img/icon/contractManage2.png);
}

.active .translate::before {
    content: url(../img/icon/translate2.png);
}

.active .fair1::before {
    content: url(../img/icon/fair2.png);
}

.active .auth1::before {
    content: url(../img/icon/auth2.png);
}

.active .register::before {
    content: url(../img/icon/register2.png);
}

.active .company::before {
    content: url(../img/icon/company2.png);
}

.active .copyright::before {
    content: url(../img/icon/copyright2.png);
}

.active .radio::before {
    content: url(../img/icon/radioSelect.png);
}




