/**
 左边布局
 */
.index-left {
    padding-left: 14px;

}

.header-left {
    padding: 14px;
}

.left-content {

    width: 160px;
    min-width: 135px;
}

.userInfo {
    position: relative;
    margin-top: 6px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

.userImg {
    width: 65px;
    height: 65px;
}

.auth {
    position: absolute;
    height: 20px;
    color: #ffffff;
    background: url(../img/icon/auth-bg.png) no-repeat center;
    display: block;
    width: 50px;
    left: 50%;
    margin-left: -27px;
    bottom: 22px;

}

.userName {
    color: #095963;
    font-size: 20px;
}

#myTab:after {
    display: none !important;
}

.nav-tabs {
    border-bottom: none !important;
    height: 680px;
    margin-top: 15px;

}

.nav-tabs > li > a {

    color: #095963 !important;
    margin-right: 0 !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #095963;
    color: #ffffff !important;

}

.reserve {
    text-align: center;
    width: 144px;
    position: absolute;
    bottom: 34px;
    color: #747a8c;
    cursor: default;
}

/*!***/
/*中间布局*/
/**!*/
.index-center {
    width: 100%;
    min-width: 863px;
    position: relative;
    height: 100%;
}

.header-draft-center {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.index-header-center {
    position: relative;
    width: 500px;
    margin: 20px 0;
}

.btn-search {
    width: 39px;
    height: 34px;
    border: none;
    background: #747a8c;
}

.btn-moveSearch {
    width: 39px;
    position: absolute;
    height: 28px;
    border: none;
    background: #ffffff;
    top: 2px;
    right: 6px;
    z-index: 100;
}

.center-row {
    margin-left: 0;
    border-top: 1px solid #ccc;
    cursor: default;
}

.up-title {
    line-height: 50px;
    background-color: #ebebeb;
}

.up-title-l {
    float: left;
    padding-left: 3px;
    position: relative;
}

.up-title-r {
    float: right;

}

.btn-l {
    margin-right: -8px;
    width: 65px;
    background: #ffffff;
}

.btn-r {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: 10px;
    width: 55px;
    background: #ffffff;
}

.activeBtn {
    background: #747a8c;
}

.btn-draftContract:hover, .btn-draft:hover, .btn-upload:hover {
    background: #053238;
    color: #ffffff;
}

.btn-draftContract {
    color: #ffffff;
    background: #095963;
}

.btn-upload {
    color: #ffffff;
    background: #095963;
    position: absolute;
    top: 74px;
    z-index: 999;
    left: 3px;
    border: none;
    border-radius: 2px;
    width: 104px;
    display: none;
}

.a-upload {
    color: #ffffff;
}

.a-upload input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.btn-newfolder:active,.btn-draft {
    background: #095963 !important;
    color: #ffffff !important;
}
.btn-newfolder{
    margin-left: 10px;
}
.btn-refresh {
    margin-right: 5px;
    width: 55px;
}

/*树形菜单*/
.treeview {
    overflow: auto;
    height: 100%;
}

.treeview span.icon {
    width: 30px !important;
}

.file-tree{
    /*padding-left: 20px;*/
    overflow: auto;
    width: 100%;
    height: 80%;
}

.file-tree-model{
    /*padding-left: 20px;*/
    overflow: auto;
    width: 100%;
    height: 340px;
}

.file-box{
    cursor: pointer;
}

.file-box-model{
    cursor: pointer;
    position: relative;
}

.fileItem{
    padding-left: 20px
}

.fileItem-model{
    padding-left: 20px
}

.file-box li{
    height: 50px;

}

.file-box-model li{
    height: 50px;
}

.file-box li:after{
    width: 98%;
    display: block;
    height: 1px;
    background: #cccccc;
    margin: 0 auto;
}

.file-box-model li:after{
    width: 98%;
    display: block;
    height: 1px;
    background: #cccccc;
    margin: 0 auto;
}

.fileInfo{
    line-height: 49px;
    padding-left: 45px;
    position: relative;
    float: left;
}

.fileInfo-model{
    line-height: 49px;
    padding-left: 45px;
    position: relative;
    float: left;
}

.fileInfo-img{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    margin: auto;
    height: 28px;
    width: 28px;
    line-height: 32px;
    text-align: center;
    background: url(../img/icon/file-un.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 12px;
}

.fileBadge{
    position: absolute;
    width: 24px;
    height: 16px;
    line-height: 16px;
    display: block;
    left: 17px;
    background: red;
    font-size: 11px;
    color: #ffffff;
    border-radius: 11px;
    text-align: center;
    top: -5px;
}

.fileChildBadge{
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    left: 20px;
    background: red;
    font-size: 11px;
    color: #ffffff;
    border-radius: 11px;
    text-align: center;
    top: 0;
}

.fileInfo-download{
    margin-left: 16px;
}

.fileInfo-download:focus{
    display: none;
}

.treeDownload{
    display: none;
    text-align: center;
    width: 254px;
    height: 100px;
    position: absolute;
    z-index: 999;
    background: #ebebeb;
    border: 1px solid #747a8c;
    top: 4px;
    right: -232px;
    line-height: 30px!important;
}

.treeDownload:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -7px;
    background: url(../img/icon/ink.png) no-repeat;
    top: 13px;
}

.fileInfo-more,.fileInfoChild-more{
    margin-left: 16px;
}

.fileInfo-more:focus,.fileInfoChild-more:focus{
    display: none;
}

.fileFolder{
    position: relative;
}

li.fileFolder {
    display: inline-block;
}

.fileInfo-display{
    width: 11px;
    height: 11px;
    background-image: url(../img/icon/zk-icon.png);
    float: right;
    margin-right: 22px;
    margin-top: 16px;
}

.active .fileInfo-display{
    width: 11px;
    height: 11px;
    background-image: url(../img/icon/notzk-icon.png);
    float: right;
    margin-right: 22px;
    margin-top: 16px;
}

.fileFolder-control{
    width: 404px;
    height: 20px;
    float: right;
    margin-top: 16px;
}

.share-out{
    border-left: 1px solid #cccccc;
    padding-left: 10px;
}

.fileFolder:after {
    position: absolute;
    content: '123';
    top: 7px;
    left: 0;
    color: #ffffff;
}

.control-r{
    margin:  0 12px;
}

.control-img{
    padding-right: 8px;
}

.control-share-out{
    border-left: 1px solid #cccccc;
    padding-left: 20px;
}

.file-display{
    float: right;
    margin-right: 22px;
}

.file-child{
    display: none;

}

.file-child-li{
    padding-left: 50px
}

.active .file-child{
    display: block;
}

.fileChild-control{
    float: right;
    margin-top: 16px;
}

.fileChild-img{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    margin: auto;
    height: 28px;
    width: 28px;
    line-height: 32px;
    text-align: center;
    background: url(../img/icon/ht-icon.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 12px;
}

.active1 .fileChild-img-unselect{
    background: url(../img/icon/ht-icon2.png) no-repeat;
    background-size: 100% 100%;
}

.active1{
    background: #e8f4f6;
}

.active2 .fileChild-img-unselect{
    background: url(../img/icon/ht-icon2.png) no-repeat;
    background-size: 100% 100%;
}

.active2{
    background: #e8f4f6;
}

.fileChild-img-unselect{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    margin: auto;
    height: 28px;
    width: 28px;
    line-height: 32px;
    text-align: center;
    background: url(../img/icon/hticon_nor.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 12px;
}
/*第二种排版*/
.file-tree2 .file-box {
    float: left;
    width: 25%;
    overflow: visible;
}

.file-tree2 .file-box .fileInfo-download {
    display: none;
}

.file-tree2 .file-box .fileFolder-control ,.fileInfoChild-more{
    display: none;
}

.file-tree2 .file-box .fileInfo-display {
    display: none;
}

.file-tree2 .file-box .fileChild-control {
    display: none;
}

.file-tree2 .file-box .fileInfo-more {
    display: none;
}

.file-tree2 .file-box li:after {
    display: none;
}

.file-tree2 .file-box .file-child-box {
    position: absolute;
    left: 0;
    width: 100%;
    background: #ebebeb;
}

.file-tree2 .file-box .file-child-box .file-child {
    width: 25%;
    float: left;
}

.file-tree2 .file-box .file-child-box .file-child .file-child-li {
    padding-left: 20px;
}

.file-tree2 .file-box .file-child-box .file-child .file-box li:after {
    height: 0;
    width: 0;
}
/**
 筛选栏
 */
.listFilte {
    display: flex;
    flex-direction: row;
    color: #7d8394;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.filte-l {
    width: 490px;
}

.filteResult {
    float: left;
    padding-left: 21px;
}

.btn-filte {
    padding: 2px 0;
    padding-left: 10px;
    margin-left: 15px;
    width: 160px;
    position: relative;
    height: 24px;
}
.btn-draft{
    padding-left: 10px;
    width: 118px;
    height: 37px;
    background: #095963;
    position: relative;
    color: #ffffff;
}
.btn-creatHT{

}
.dropdown-menu-filte{
    position: absolute;
    width: 100px;
    height: 130px;
    left: 15px;
    top: 32px;
}
.dropdown-menu-draft{
    position: absolute;
    width: 116px;
    padding-top: 0;
    height: 65px;
    left: 1px;
    top: 39px;
    min-width: 100px;
    background: #126e7a;
    color: #ffffff;

}
.dropdown-menu-draft li{
    height: 33px;
    line-height: 33px;
    text-align: center;
}
.btn-newHT{
    color: #ffffff;
}

.dropdown-menu-draft li:nth-of-type(1){
    border-bottom: 1px solid #095963;
}
.dropdown-menu-filte li{
    text-align: center;

}
.btn-val {
    position: absolute;
    left: -95px;
}

.filte-dropdown,.draft-dropdown {
    float: left;
    margin: 0 !important;
}

.filte-dropdown span {
    position: absolute;
    top: 0;
    right: 10px;
}

.filteCat {
    display: block;
    width: 100%;
    position: relative;
    float: left;

}

.filte-r {
    width: 100%;
}

.filteCat-item {
    position: relative;
    display: block;
    width: 3.7%;
    float: left;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.filteCat-itemActive {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid #666666;
}

.up-title {
    line-height: 50px;
    background-color: #ebebeb;
}

.btn-newfolder:hover {
    background: #ebebeb;

}

.btn-newfolder.active {
    background: #095963;
}
.center-down{
    margin-left: 0;
    border-top: 1px solid #ccc;
    cursor: default;
    height: 100%;
}
.down-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    line-height: 35px;
    padding-top: 4px;
    background-color: #ebebeb;
    margin: 0 !important;
}

.creatDateTitle {
    position: relative;
    width: 258px;
}

.shunxu{
    position: absolute;
    background: url(../img/icon/shunxu.png) no-repeat;
    width: 9px;
    height: 12px;
    display: inline-block;
    right: 26px;
    top: 10px;
}

.activeShunxu{
    background: url(../img/icon/daoxu.png) no-repeat;
}

.signatoryTitle {
    width: 368px;
    position: relative;
}

.stateTitle {
    width: 800px;
    text-align: center;
    position: relative;
}

.fileNameTitle {
    margin-left: 56px;
}

.fileName {
    width: 30%;
}

.signatory {
    width: 40%;
    text-align: left
}

.state {
    width: 10%;
}

.control {
    width: 5%;
}

.down-title div {
    float: left;
}

.fileList {
    overflow: auto;
    width: 100%;
    position: absolute;
    height:48%;
}

.radio,.radioSearch {
    position: absolute;
    width: 14px;
    height: 20px;
    top: 50%;
    left: 20px;
    margin-top: -10px;
    background: url(../img/icon/radio.png) no-repeat;
}

.activeRadio {
    background: url(../img/icon/radioSelect.png) no-repeat;
}

.radiDownload {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    line-height: 14px;

}

.radioTitle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    background: url(../img/icon/radio.png) no-repeat;
    float: left;
}

.check {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 54px;
    margin-top: -10px;
    background: url(../img/icon/check.png);
}

.check-un {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 54px;
    margin-top: -10px;
    background: url(../img/icon/check-un.png);
}

.fileList-item {
    display: flex;
    flex-direction: row;
}

.filelis-item:after {
    width: 100%;
    height: 1px;
    background: red;
}

.companyContract {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    position: relative;
    height: 100%;
}

.signatory {
    width: 600px;
    padding-right: 35px;
    max-width: 365px;
    min-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 25px 0;

}

.control {
    margin-right: 40px;
    text-align: right;
    min-width: 82px;
    position: relative;
}

.controlBorder {
    width: 1px;
    height: 20px;
    background: #cccccc;
    position: absolute;
    top: 40%;
    left: 20px;
}

.history {
    display: inline-block;
    width: 20px;
    background: url(../img/icon/history.png) no-repeat;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 40px;
}

.share-in {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 20px;
    background: url(../img/icon/share-in.png) no-repeat;
    height: 20px;
    margin-top: -10px;
    left: 82px;
}

.igonre {
    display: none;
    width: 20px;
    background: url(../img/icon/ignore.png) no-repeat;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: -40px;
}

.radioMove {
    display: none;
    position: absolute;
    top: 50%;
    width: 20px;
    background: url(../img/icon/radioMove.png) no-repeat;
    height: 20px;
    margin-top: -10px;
}

.fileText {
    vertical-align: middle;
    padding-right: 18px;
    color: #000000;
    font-size: 15px;
    font-weight: bold;

}

.index-center-content {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 100%;
}

.center-up {
    height: 35%;
    margin: 0 !important;
    width: 100%;
}

.up-title-l {
    float: left;
    padding-left: 3px;
}

.up-title-r {
    float: right;
}

.contackList {
    margin-right: -13px;
    padding-right: 7px;
    overflow-y: auto;
    height: 500px;
}

.contackList-item {
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
}

.fileName {
    padding-left: 0 !important;
    width: 100%;
    min-width: 260px;
    box-sizing: border-box;
    padding: 25px 0;
}

.down-title {
    color: #095963;
}

.title-l {
    width: 100%;
    position: relative;
}

.fileMove {
    width: 274px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    border: 2px solid #cccccc;
    position: absolute;
    top: 2px;
    left: 110px;
    z-index: 1;
    display: none;
}

.listFilte {
    color: #7d8394;
    height: 40px;
    vertical-align: middle;
    line-height: 40px
}

.filteResult {
    float: left;
    padding-left: 21px;
}

.companyFile {
    left: 93px;
    padding-right: 35px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.activeCompanyFile {
    color: #56b4b4;
}

.companyFileTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 38px;
    display: -webkit-box;
}

.state {
    width: 360px;
    position: relative;
    margin-left: 15px;
}

.state-icon {
    text-align: center;
    height: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background: url(../img/icon/state-done.png) no-repeat;
}

.state-sign {
    background: url(../img/icon/sign.png) no-repeat;
}

.fileText1 {
    margin-left: 30px;
    height: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.download {
    background: url(../img/icon/download_icon_yes.png) no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    width: 14px;
}

.activeDownload {
    background: url(../img/icon/downloadSelect.png) no-repeat;
}

.creatDate {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -10px;
    width: 15%;
    min-width: 108px;
}

.dateText {
    text-align: center;
    height: 20px;
    width: 100%;
    position: absolute;
    top: 50%;

}

.modal-body {
    height: 340px;
}

.moveSearch {
    width: 100%;
    height: 44px;
    padding: 8px 20px;
    background: #ebebeb;
}

.modelNewFile {
    float: left;
}

.modal-footer {
    background: #ebebeb;
}

.sharemodeldialog {
    width: 622px;
    height: 476px;
}

.shareModelFooter {
    height: 40px;
    bottom: 0;
    width: 100%;
    padding: 10px!important;
    position: absolute;
    z-index: 999999;

}
.shareModelFooter-box{
    height: 40px;
    position: relative;
}
.powerDrop {
    width: 100px;
}

.shareSearch {
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 42px;
    background: #ebebeb;
}

.dropdown-auth {
    padding: 0 !important;
    padding-left: 28px !important;
    margin-right: 8px !important;
    width: 120px !important;
    color: #000000 !important;
    margin-left: 0 !important;
    height: 24px !important;
    font-weight: bold !important;
}

.dropdown-view {
    margin-right: 24px !important;
}

.arrow-auth {
    margin-left: 4px !important;
}

.nameSearch, .phoneSearch {
    width: 220px;
    margin-right: 10px;
    height: 22px;
}

.addContact {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    display: inline-block;
    background: url(../img/icon/addContact_nor.png) no-repeat;
}

.addContactView {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    margin-left: 6px;
    display: inline-block;
    background: url(../img/icon/addContact_nor.png) no-repeat;
}




