html,
body {
	min-width: 1280px;
	height: 100%;
	font-family: "PingFang SC", sans-serif, "微软雅黑", "Helvetica Neue", Helvetica, Arial;
}

#mCSB_1_container {
	height: 100%;
}


/*主布局 --flex布局*/

.index {
	display: -webkit-box;
	/* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box;
	/* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox;
	/* 混合版本语法: IE 10 */
	display: -webkit-flex;
	/* 新版本语法: Chrome 21+ */
	display: flex;
	/* 新版本语法: Opera 12.1, Firefox 22+ */
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.index-left {
	padding-left: 14px;
}

.header-left {
	padding: 14px;
}

.reserve {
	text-align: center;
	width: 144px;
	position: absolute;
	bottom: 34px;
	color: #747a8c;
	cursor: default;
}

.index-center {
	width: 100%;
	min-width: 863px;
	position: relative;
	/*height: 100%;*/
}

.index-right {
	cursor: default;
}

.hr {
	height: 1px;
	width: 100%;
	background: #cccccc;
}

.hrFile {
	height: 1px;
	width: 97%;
	margin: 0 auto;
	background: #cccccc;
}

.btn:hover,
.btn:focus {
	color: #cccccc;
}

.modal-title {
	text-align: center;
}

.btn-move {
	background: #095963;
	width: 100px;
	text-align: center;
}

.btn-cancel {
	width: 100px;
	text-align: center;
}


/**
自定义模态框
 */


/*文件上传*/

.modelDIY {
	position: absolute;
	top: 0%;
	left: 0%;
	display: none;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999
}

.moveFile-model-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 620px;
	height: 477px;
	background-color: #fff;
}

.shareFile-model {
	display: none;
}

.shareFile-model-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 623px;
	height: 470px;
	background-color: #fff;
}

.shareFile-model-title {
	height: 40px;
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.shareModelTop {
	width: 623px;
	height: 54px;
	background: #ebebeb;
	padding: 18px 0;
	border-bottom: 1px solid #cccccc;
	cursor: default;
}

.shareModelEditorContent {
	display: block;
}

.shareModelViewContent {
	display: none;
}

.shareModelEditor {
	padding-left: 136px;
	padding-right: 230px;
	position: relative;
}

.shareModelView {
	padding-right: 140px;
	position: relative;
}

.shareModelEditorActive {
	content: '';
	position: absolute;
	display: block;
	left: 158px;
	top: 26px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 9px solid #666666;
}

.shareModelViewActive {
	content: '';
	position: absolute;
	right: 156px;
	top: 26px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 9px solid #666666;
	display: none;
}

.upload-model-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 483px;
	height: 177px;
	background-color: #fff;
}

.upload-model-title {
	text-align: center;
	padding: 10px 0;
	font-size: 13px;
	color: #000000;
	border-bottom: 1px solid #cccccc;
}

.upload-progress {
	margin: 0 auto;
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	width: 420px;
	margin-top: 60px;
}

.upload-progress-bar {
	background-color: #095963;
}

.upload-progress-num {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	color: #56b4b4;
}


/**
文件夹删除
 */

.removeFolder-content,
.removeFolders-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 484px;
	height: 158px;
	background-color: #fff;
}

.modelTitle {
	text-align: center;
	padding: 10px 0;
	font-size: 13px;
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
}

.removeFolder-warn,
.removeFolders-warn,
.editor-warn {
	padding-top: 22px;
	text-align: center;
	font-size: 12px;
}

.removeFolder-modelBtn,
.removeFolders-modelBtn {
	padding-top: 22px;
	margin: 0 auto;
}

.removeFolderBtnCancel {
	color: #747a8c;
	width: 100px;
	height: 32px;
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-left: 100px;
	margin-right: 84px;
}

.removeFolderBtnInsure {
	background: #095963;
	color: #ffffff;
	width: 100px;
	height: 32px;
	margin-right: 95px;
}


/*删除文件夹组*/

.removeFoldersBtn {
	width: 280px;
	height: 32px;
	background: #ffffff;
	border: 1px solid #cccccc;
	color: #747a8c;
	margin-left: 32px;
	margin-right: 44px;
	font-size: 12px;
}

.removeFoldersBtnInsure {
	background: #095963;
	color: #ffffff;
	width: 100px;
	height: 32px;
	margin-right: 22px;
}


/**
文件重命名
 */

.renameFile-model {
	display: none;
}

.renameFile-model-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 484px;
	height: 158px;
	background-color: #fff;
}

.renameFile-box {
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	position: relative;
}

.renameFile-delete {
	background: url(../img/icon/delect.png) no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
	position: absolute;
	right: 89px;
	top: 27px;
}

.renameFileInsure {
	margin-top: 25px;
	margin-left: 190px;
	display: block;
	width: 100px;
	height: 32px;
	color: #ffffff;
	background: #095963;
}


/**
比较文件弹出框
 */

.compaseFile-model {
	display: none;
}

.compaseFile-model-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 484px;
	height: 198px;
	background-color: #fff;
}

.compaseFileModelHeader {
	text-align: center;
	background: #ffffff;
	padding: 7px;
	border-bottom: 1px solid #cccccc;
}

.compaseFile-box {
	padding-top: 20px;
	position: relative;
}

.compaseFile-item-text {
	padding-left: 40px;
	font-weight: bold;
}

.compase-icon {
	position: absolute;
	background: url(../img/icon/compase.png) no-repeat;
	width: 18px;
	height: 18px;
	top: 60px;
	right: 44px;
}

.compaseDrop {
	width: 260px;
	height: 32px;
	display: inline-block;
	text-align: left;
	position: relative;
}

.compaseFileMenu,
.compaseFileMenuChange {
	margin-top: 0px;
	width: 260px;
	height: 268px;
	overflow: auto;
	border-radius: 0!important;
}

.compasedDateBox {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 4px;
	padding-left: 4px;
	position: relative;
}

.compaseVersion {
	color: #dbdce5;
	font-size: 14px;
	padding-right: 10px;
}

.compasedDateNews {
	color: red;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: -3px;
	right: 39px;
}

.compaseFile-footer {
	height: 40px;
	background: #ebebeb;
	margin-top: 10px;
}


/**
签约方列表弹窗
 */

.signUser-model {
	display: none;
}

.signUserModelHeader {
	text-align: center;
	background: #ffffff;
	padding: 10px;
	height: 40px;
	border-bottom: 1px solid #cccccc;
}

.signUserModelBox {
	padding: 15PX 20px;
}

.signUser-item {
	padding-bottom: 10px;
	height: 34px;
	margin-bottom: 5px;
}

.signUser {}

.signUser-Add {
	margin-right: 4px;
}

.addSignUser {
	border-top: 1px solid #cccccc;
	padding-top: 5px;
}

.addSignUserBtn {
	background: url(../img/icon/addSignUserBtn.png) no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
}

.removeSignUser {
	background: url(../img/icon/tool_remove_nor.png) no-repeat;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 20px;
	vertical-align: middle;
}

.signUser-model-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 620px;
	height: 292px;
	background-color: #fff;
}

.signUserModelFooter {
	height: 65px;
	width: 100%;
	text-align: center;
	background: #ebebeb;
	position: absolute;
	bottom: 0px;
	padding-top: 24px;
}

.cancelAddSign {
	width: 100px;
	height: 32px;
	color: #747a8c;
	background: #ffffff;
	margin-right: 70px;
	border: 1px solid #cccccc;
}

.signUserInsure {
	width: 100px;
	height: 32px;
	background: #095963;
	color: #ffffff;
}

.download .popover {
	height: 370px;
	width: 254px;
	;
	text-align: center;
}

.popover-content {
	padding: 0;
}

.fileList-item div {
	float: none !important;
}

.downloadDate,
.chooseFileItem {
	height: 28px;
	border-bottom: 1px solid #cccccc;
	width: 212px;
	position: relative;
}

.versionDate {
	color: #666666;
	font-size: 14px;
	padding-right: 10px;
}

.News {
	color: red;
	font-size: 1px;
	font-weight: bold;
	position: absolute;
	top: -11px;
	right: 8px;
}

.editorVersion {
	color: #dbdce5;
	font-size: 14px;
}

.dateRadioDownload,
.compaseRadioDownload {
	background: url(../img/icon/radio.png) no-repeat;
	width: 14px;
	height: 14px;
	display: inline-block;
}

.activeDateRadioDownload,
.activeCompaseRadioDownload {
	background: url(../img/icon/radioSelect.png) no-repeat;
}

.viewRadioDownload {
	background: url(../img/icon/radio.png) no-repeat;
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
}

.viewRadioDownloadActive {
	background: url(../img/icon/radioSelect.png) no-repeat;
}

.viewDate {
	padding-left: 4px;
	display: inline-block;
}

.viewNews {
	color: red;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: 8px;
}

.downloadFormat {
	background: #ebebeb;
	height: 98px;
	width: 100%;
}

.chooseDate,
.chooseFile {
	height: 224px;
	overflow-y: auto;
}

.pdf,
.chooseFormat {}

.word,
.pdf {
	color: #747a8c;
}

.chooseFormat {
	color: #bec3d4;
}

.wordTree,
.pdfTree {
	color: #747a8c;
	height: 18px;
}

.pdfTree {
	padding-top: 15px;
}

.dowTree {
	padding-top: 30px;
	color: #adb4cc;
}

.treeText {
	display: inline-block;
	vertical-align: middle;
}


/**
  工具条
 */

.fileInfo .popover-content {
	width: 360px !important;
}

.tool-toTop,
.tool-reName,
.tool-download,
.tool-Move,
.tool-remove,
.toolChild-toTop,
.toolChild-reName,
.toolChild-download,
.toolChild-remove {
	display: block;
	width: 90px;
	height: 30px;
	float: left;
	text-align: center;
	padding-top: 5px;
}

.tool-toTop,
.tool-reName,
.tool-download,
.tool-Move,
.toolChild-toTop,
.toolChild-reName,
.toolChild-download {
	border-right: 1px solid #cccccc;
}

.tool-FileMove,
.tool-Fileremove,
.tool-Filedownload {
	display: block;
	width: 90px;
	height: 30px;
	float: left;
	text-align: center;
}

.tool-FileMove,
.tool-Fileremove {
	border-right: 1px solid #cccccc;
}

.wordicon {
	padding-left: 20px;
	background: url(../img/icon/word_icon_nor.png) no-repeat;
	vertical-align: middle;
	width: 20px;
	height: 15px;
	display: inline-block;
}

.activeWordicon {
	background: url(../img/icon/word_icon_select.png) no-repeat;
}

.pdficon {
	padding-left: 20px;
	background: url(../img/icon/pdf_icon_nor.png) no-repeat;
	width: 20px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}

.activePdficon {
	background: url(../img/icon/pdf_icon_select.png) no-repeat;
}

.chooseFormaticon {
	background: url(../img/icon/download_icon_no.png) no-repeat;
	padding-left: 20px;
	width: 20px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}


/**
    搜索结果
     */

.activeResult .searchResultModel {
	display: block;
}

.searchResult {
	display: none;
	position: absolute;
	left: 0;
}

.activeSearchResult {
	display: block;
}

.searchResultModel {
	border: 1px solid #cccccc;
	margin-top: -22px;
	position: absolute;
	z-index: 1060;
}

.searchTitleFolder,
.searchTitleFile {
	cursor: pointer;
}

.searchTitleFolder,
.searchTitleFile {
	background: #ebebeb;
	height: 30px;
	width: 498px;
	display: block;
	line-height: 30px;
	padding-left: 10px;
}

.searchArrow {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

.searchArrowFolder {
	float: right;
	margin-right: 30px;
	margin-top: 24px;
}

.searchFolder,
.searchFile {
	height: 300px;
	width: 498px;
	background: #ffffff;
	display: block;
	overflow: auto;
}

.searchFileItem:after {
	background: #cccccc;
	height: 1px;
	width: 95%;
	margin: 0 auto;
	padding-right: 20px;
}


/**
 搜索文件夹结果
 */

.index-center-searchFolder {
	display: none;
	overflow: auto;
	border: 1px solid #cccccc;
	border-bottom: none;
}

.searchFolderTilte {
	overflow: hidden;
	max-height: 1500px;
}

.folderSearchTitle {
	height: 50px;
	background: #ebebeb;
	line-height: 50px;
	font-size: 15px;
	color: #747a8c;
	padding-left: 20px;
}

.folderSearch {
	overflow: hidden;
	height: 800px;
}


/**
搜索文件结果
 */

.index-center-searchFile {
	display: none;
	height: 100%;
	border-left: 1px solid #cccccc;
}

.fileListSearch {
	max-height: 800px !important;
}


/**
    分享框
 */

.modal-body {
	padding: 0;
}

.modal-content {
	border: none;
}

.shareModelBody {
	background: #ebebeb;
	height: 300px!important;
}

.shareListItem {
	height: 60px;
	padding: 14px 16px;
	border-bottom: 1px solid #cccccc;
	background: #ffffff;
}

.userPhoto {
	float: left;
	height: 35px;
	width: 35px;
}

.userShare {
	float: left;
}

.userNameShare {
	margin-bottom: 3px;
	margin-top: -3px;
	font-size: 13px;
	color: #777777;
	padding-left: 14px;
	color: #000000;
}

.userClassify {
	color: #999999;
	font-size: 10px;
	padding-left: 14px;
}

.userPower {
	float: right;
	margin-top: 5px;
	position: relative;
}

.viewDrop {
	position: absolute;
	top: -6px;
	right: 8px;
	width: 120px;
	height: 28px;
	padding-left: 3px;
	font-size: 12px;
	display: inline-block;
}

.viewArrow {
	position: relative;
}

.viewFileMenu {
	position: absolute;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	width: 245px;
	height: 268px;
	overflow: auto;
	left: -146px;
	top: 21px;
}

.viewFileMenu-display {
	position: absolute;
	z-index: 1000;
	display: block;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	width: 245px;
	height: 268px;
	overflow: auto;
	left: -146px;
	top: 21px;
}

.viewDateBox {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 6px;
	padding-left: 5px;
	position: relative;
}

.viewVersion {
	color: #dbdce5;
	font-size: 14px;
}

.arrowDrop {
	position: absolute !important;
	right: 13px !important;
	top: 0 !important;
}

.arrowDropView {
	position: absolute !important;
	right: 33px !important;
	top: 2px !important;
}

.userAuto {
	width: 40px;
	height: 13px;
	line-height: 13px;
	background: red;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	font-size: 10px;
}

.userCompany {
	font-size: 12px;
	color: #666666;
}

.remove {
	right: 8px;
	position: absolute;
	margin-top: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 4px;
	background: url(../img/icon/tool_remove_nor.png) no-repeat;
}

.removeView {
	position: absolute;
	margin-top: 3px;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 4px;
	top: 0;
	right: -10px;
	background: url(../img/icon/tool_remove_nor.png) no-repeat;
}

.editorPower {
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}

.editorPerson {
	display: inline-block;
	background: #095963;
	color: #ffffff;
	width: 43px;
	height: 16px;
	font-size: 11px;
	text-align: center;
	line-height: 16px;
}

.shareText {
	float: left;
	color: #666666;
	padding-left: 10px;
	font-size: 12px;
	line-height: 30px;
}

.shareSocial {
	float: left;
	margin-top: 4px;
}

.shareqq {
	background: url(../img/icon/qq_nor.png) no-repeat;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	display: inline-block;
}

.sharewechat {
	background: url(../img/icon/wechat_nor.png) no-repeat;
	width: 20px;
	height: 20px;
	padding-left: 20px;
	display: inline-block;
	margin-left: 10px;
}

.shareweibo {
	margin-left: 10px;
	background: url(../img/icon/weibo_nor.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.activeShareQQ {
	background: url(../img/icon/qq_select.png) no-repeat;
}

.activeShareWeChat {
	background: url(../img/icon/wechat_select.png) no-repeat;
}

.activeShareWeiBo {
	background: url(../img/icon/weibo_select.png) no-repeat;
}

.activeAddContact,
.activeAddContactView {
	background: url(../img/icon/addContact_yes.png) no-repeat !important;
}

.activeRemove,
.activeRemoveView {
	background: url(../img/icon/tool_remove_yes.png) no-repeat;
}

.urlicon {
	position: absolute;
	top: 6px;
	margin-left: 10px;
}

.copyicon {
	position: absolute;
	background: #747a8c;
	width: 36px;
	height: 20px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	top: 2px;
	right: 12px;
	border-radius: 20px;
}

.copyTip {
	position: absolute;
	width: 89px;
	border: 1px solid #cccccc;
	height: 24px;
	line-height: 24px;
	color: #000000;
	top: -27px;
	right: 20px;
	background: #ffffff;
	text-align: center;
	display: none;
}

.modelFilte {
	position: relative;
}

.btn-modelFilte {
	width: 98px;
	height: 24px;
	border: 1px solid #cccccc;
	padding-left: 10px;
}

.modelDrop span {
	position: absolute;
	top: 4px;
	right: 6px;
}

.modelDrop {
	float: left;
	margin: 0 !important;
}

.DateModel {
	width: 230px;
	position: absolute;
	top: 84px;
	left: -20px;
	display: none;
	background: #ffffff;
	text-align: center;
	z-index: 999;
	border: 1px solid #747a8c;
}

.CompaseModel {
	display: none;
	width: 230px;
	position: absolute;
	top: 88px;
	right: 108px;
	background: #ffffff;
	text-align: center;
	z-index: 999;
	border: 1px solid #747a8c;
}

.chooseFile {
	height: 287px;
	overflow-y: auto;
}

.CompaseBottom {
	background: #ebebeb;
	height: 32px;
	width: 100%;
	color: #adb4cc;
}