body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: "微软雅黑";
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.mg0 {
  margin: 0!important;
}
.ml10 {
  margin-left: 10px;
}
.bd0 {
  border: none!important;
}
.clearfloat:after {
  display: block;
  content: '';
  height: 0;
  width: 0;
  clear: both;
}
body,
html {
  min-width: 1200px;
  overflow-x: auto;
}
.container {
  min-width: 1160px;
  width: 1160px;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/*内容*/
.banner {
  background: url(../images/becomegoddess/banner1.png) center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 306px;
}
.main-box {
  background: #000;
}
.main {
  color: #9E9E9E;
  background: url(../images/becomegoddess/bg1.png) center repeat-y;
}
.main .main-nav {
  padding-top: 45px;
}
.main .main-nav ul {
  width: 100%;
}
.main .main-nav ul li {
  float: left;
  text-align: center;
}
.main .main-nav ul .li-p {
  width: 10%;
  padding: 0 2px;
  margin-right: 4px;
  cursor: pointer;
}
.main .main-nav ul .li-p p {
  margin-bottom: 5px;
}
.main .main-content {
  margin-top: 40px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .main-content .content-left {
  float: left;padding: 10px 12px;
  background: #EDEFF3;
  width: 542px;margin-bottom: 15px;
}
.main .main-content .content-left-left {
  float: left;
  margin-right: 10px;
}
.main .main-content .content-left-left img {
  display: block;
}
.main .main-content .content-left-right {
  float: left;
  width: 60%;
}
.main .main-content .content-left-right .right-p {
  padding: 10px;
  padding-bottom: 0;
  color: black;
  font-size: 14px;
}
.main .main-content .content-left-right .right-p .model-name {
  line-height: 18px;
}
.main .main-content .content-left-right .right-p .model-name i {
  display: block;
  float: left;
  font-size: 18px;
}
.main .main-content .content-left-right .right-p .model-name span {
  display: block;
  float: right;
  font-size: 14px;
  color: #D2AB56;
}
.main .main-content .content-left-right .right-p .model-name span img {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.main .main-content .content-left-right .right-p .moder-add {
  margin-top: 6px;
}
.main .main-content .content-left-right .right-p .moder-info {
  margin-bottom: 12px;
}
.main .main-content .content-left-right .right-p .moder-info span {
  color: white;
  background: #68696B;
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.main .main-content .content-left-right .right-btn {
  display: block;
  background: url(../images/becomegoddess/btn.png) center no-repeat;
  line-height: 54px;
  margin-top: 20px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.main .main-content .content-left-right .right-btn a{    color: white;}
.main .main-content .content-left-right .right-btn:hover {
  background: url(../images/becomegoddess/btn1.png) center no-repeat;
}
.main .main-content .content-left-right .right-btn:active {
  background: url(../images/becomegoddess/btn1.png) center no-repeat;
}
.main .main-content .main-btn {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 70px;
  width: 435px;
}
.main .main-content .main-btn .active2 {
  background: #D6A93D;
  color: white;
}
.main .main-content .main-btn i,
.main .main-content .main-btn span {
  line-height: 35px;
  text-align: center;
  display: inline-block;
  background: white;
  font-size: 12px;
  color: #696969;
  cursor: pointer;
}
.main .main-content .main-btn i {
  width: 55px;
}
.main .main-content .main-btn span {
  width: 35px;
}
.main .godless-privilege {
  margin-top: 70px;
}
.main .godless-privilege .privilege-main {
  padding-bottom: 60px;
  width: 100%;
  position: relative;
}
.main .godless-privilege .privilege-main .privilege-top {
  background: url(../images/becomegoddess/装饰.png) no-repeat;
  background-position: 0 0;
  height: 410px;
  margin-bottom: 70px;
}
.main .godless-privilege .privilege-main .privilege-bottom {
  background: url(../images/becomegoddess/装饰.png) no-repeat;
  background-position: 16px -485px;
  height: 70px;
}
.main .godless-privilege .privilege-main .privilege-ul-box {
  width: 95%;
  position: absolute;
  height: 500px;
  top: 25px;
  left: 30px;
  background: white;
  border-radius: 5px;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul {
  position: absolute;
  height: 500px;
  width: 100%;
  background: url(../images/becomegoddess/bg.png) no-repeat;
  background-position: 272px -269px;
  top: 0;
  left: 0;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul {
  padding: 35px 40px;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul .privilege-li1 h5 {
  font-size: 30px;
  color: #AD8646;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul .privilege-li1 span {
  color: #AD8646;
  font-size: 12px;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul .privilege-li2 {
  padding: 25px 0;
  border-bottom: 1px dashed #D0D0D0;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul .privilege-li2 span,
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul .privilege-li2 div {
  display: block;
  float: left;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul .privilege-li2 span {
  line-height: 32px;
  width: 66px;
  background: url(../images/becomegoddess/spanbg.png);
  color: black;
  text-align: center;
  margin-right: 20px;
  position: relative;
  top: 5px;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul .privilege-li2 .privilege-li2-p1 {
  color: #D1A749;
  font-size: 16px;
  margin-bottom: 5px;
}
.main .godless-privilege .privilege-main .privilege-ul-box .privilege-ul ul .privilege-li2 .privilege-li2-p2 {
  color: #555555;
}
/*底部样式*/
.footer {
  background: #18292c;
}
.footer .content {
  padding: 36px 40px 0;
}
.footer .content .nav li {
  float: left;
  margin-right: 160px;
}
.footer .content .nav li p {
  font-size: 24px;
  line-height: 24px;
  color: #8c9496;
  margin-bottom: 18px;
}
.footer .content .nav li a {
  font-size: 16px;
  line-height: 30px;
  color: #48666a;
  padding: 5px 0;
  display: block;
}
.footer .content .code {
  border: 1px solid #465456;
  padding: 10px;
}
.footer .content .code img {
  margin-bottom: 8px;
}
.footer .content .code p {
  font-size: 14px;
  line-height: 14px;
  color: #48666a;
  text-align: center;
  margin-top: 4px;
}
.footer .copyright {
  padding: 40px 0;
  font-size: 12px;
  line-height: 20px;
  color: #10434f;
  text-align: center;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.active1 {
  color: #B2984F;
}
