body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  background-color: #fff;
}
body,
html {
  min-width: 1200px;
  overflow-x: auto;
}
/*表单默认属性*/
input::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
textarea::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
input,
textarea {
  border-color: #CCCCCC;
  font-size: 14px;
  line-height: 26px;
  resize: none;
  outline: none;
  border: 1px solid #CCCCCC;
  text-indent: 10px;
}
textarea:focus {
  border-color: #D6A003;
}
input:focus {
  border-color: #D6A003;
}
.mg0 {
  margin: 0!important;
}
h3 {
  font-weight: normal;
}
.bdno {
  border: none!important;
}
.clearfloat:after {
  display: block;
  content: '';
  height: 0;
  width: 0;
  clear: both;
}
.container {
  width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
a { text-decoration: none; display: block; }

/*头部样式*/
.header { background: #1f1f1f; height: 80px; z-index: 9999; }
.header .container{height: 80px;}
.header .logo { position: absolute; left:10px; top:50%; margin-top: -15px; }
.header .nav { padding-left: 120px; height: 80px; }
.header .nav li { float:left; height: 80px;position: relative;}
.header .nav li:hover{background: #000;}
.header .nav li:hover .nav-li-list{display: block;}
.header .nav li .nav-li-list{position: absolute;top:80px;background: #000;z-index:9999;width: 150px;display: none}
.header .nav li .nav-li-list li{float: none;height: 60px;}
.header .nav li .nav-li-list li a{height: 60px;line-height: 60px;}
.header .nav li .nav-li-list li:hover{background: #978056;color: #fff;}
.header .nav li .nav-li-list li:hover a{color: #fff;}
.header .nav li a { font-size: 16px;color:#989898; padding: 0 15px; margin:0 5px;display: block;height: 80px;line-height: 80px; }
.header .divLink { position: absolute; right:0; top:0; padding: 18px 15px;}
.header .divLink a { position: relative; padding-left: 50px;  }
.header .divLink h3 { font-size: 16px; line-height: 26px; color:#d9ab2b; font-weight: normal; }
.header .divLink h3 span { display: inline-block; vertical-align: middle; width:10px; height: 6px; margin-left: 10px; background: url(../images/ico_down.png) center no-repeat; }
.header .divLink p { font-size: 12px; line-height: 18px; color:#999; }
.header .divLink i { position: absolute; width:42px; height: 42px; border-radius: 50%; overflow: hidden; left:0; top:1px; background: url(../images/img_01.jpg) center no-repeat; }
.header.active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(31,31,31,0.9);
    /* transition: all 0.8s ease 0s; */
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    -o-transform: translate(0, -80px);
    transform: translate(0, -80px);
}
.header.selected {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0px);
}

/****/
.divLink:hover {background: #000;}
.divLink:hover .nav-li-list{display: block;}
.divLink .nav-li-list{position: absolute;top:80px;right:0;background: #000;z-index:99;width: 200px;display: none}
.divLink .nav-li-list li{float: none;height: 60px;}
.divLink .nav-li-list li a{height: 60px;line-height: 60px;font-size: 16px;color:#989898; padding: 0 15px; margin:0 5px;display: block;text-align: center;}
.divLink .nav-li-list li:hover{background: #978056;color: #fff;}
.divLink .nav-li-list li:hover a{color: #fff;}

/*内容*/
.main {
  background: #1f1f1f;
}
.main .main-box {
  background: url(../../images/shijiao/bg9.png) center repeat-y;
  background-size: 100% auto;
  background-position-y: 15px;
}
/*底部样式*/
.footer {
  background: #18292c;
}
.footer .content {
  padding: 36px 40px 0;
}
.footer .content .nav li {
  float: left;
  margin-right: 160px;
}
.footer .content .nav li p {
  font-size: 24px;
  line-height: 24px;
  color: #8c9496;
  margin-bottom: 18px;
}
.footer .content .nav li a {
  font-size: 16px;
  line-height: 30px;
  color: #48666a;
  padding: 5px 0;
  display: block;
}
.footer .content .code {
  border: 1px solid #465456;
  padding: 10px;
}
.footer .content .code img {
  margin-bottom: 8px;
}
.footer .content .code p {
  font-size: 14px;
  line-height: 14px;
  color: #48666a;
  text-align: center;
  margin-top: 4px;
}
.footer .copyright {
  padding: 40px 0;
  font-size: 12px;
  line-height: 20px;
  color: #10434f;
  text-align: center;
}
.fr {
  float: right!important;
}
.fl {
  float: left!important;
}
