{extend name="common/base"}
{block name="content-header"}
<link rel="stylesheet" href="__STATIC__/admin/plugins/select2/select2.min.css">
    <h1>
        {$module_names[0]}
        <small>
        {$module_names[1]}</small>
    </h1>
    <ol class="breadcrumb">
        {volist name="module_names" id="vo"}
            <li {if condition="$module_nums==$key"}class="active"{/if}>{if condition="0==$key"}<i class="fa fa-dashboard"></i>{/if} {$vo}</li>
        {/volist}
    </ol>
{/block}

{block name="content"}

<div class="row">
            <div class="container-fluid">
                <div class="pull-right">
                    <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回管理员列表"><i class="fa fa-reply"></i></a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> 教练详细</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="tab-content col-md-10">
                            <div class="tab-pane active" >
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="col-sm-2">姓名：</td>
                                        <td class="col-sm-8">{$info['name']}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">头衔：</td>
                                        <td class="col-sm-8">{$info['title']}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">类型：</td>
                                        <td class="col-sm-8">{$info['type']['title']}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">简介：</td>
                                        <td class="col-sm-8">{$info['intro']}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">人物标签：</td>
                                        <?php $arr = ['','danger','success','warning','info','primary']; ?>
                                        <td class="col-sm-8">
                                            {volist name="$info['tags_name']" id="vo"}
                                            <span class="label label-{$arr[$i]}"><i class="fa fa-tags"></i> {$vo.name}</span>
                                            {/volist}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">关联场馆：</td>
                                        <td class="col-sm-8">
                                            {volist name="$info['stadium_info'][0]" id="vo"}
                                            <span><i class="fa fa-home"></i> {$vo.title}</span>
                                            {/volist}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">关联课程：</td>
                                        <td class="col-sm-8">
                                            {volist name="$info['course_info']" id="vo"}
                                            <span><i class="fa fa-book"></i> {$vo.title}</span>
                                            {/volist}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>

                        <div class="tab-content col-md-2">
                            <p> 人物图片 </p>
                            <img src="{$info['headimg']}" class="profile-user-img img-responsive img-thumbnail" style="height: 192px;width: 100%;">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {/block}

{block name="jss"}

{/block}
