body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,header{
    margin: 0;padding: 0;}
ul,ol,dl{
    list-style: none;
}
a {color:#ffffff;text-decoration:none}
a:active, a:hover {text-decoration:none;}
.clearfloat::after{display: block;content: '';height: 0;width: 0;clear: both}
i,em{font-style: normal}
input,textarea{outline:none;}
.defaultText{
    color: #d59856;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cccccc; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cccccc;opacity:1;
}

input:-ms-input-placeholder{
    color: #cccccc;opacity:1;
}

input::-webkit-input-placeholder{
    color: #cccccc;opacity:1;
}
body{
    background: #eeeeee;
}
.navBar{
    height: 80px;
    background: url(../img/protocol_btn_pre.png) no-repeat;
    width: 100%;
    background-size: 100% 100%;
    color: #ffffff;
    line-height: 80px;
    font-size: 15px;
    padding-right:300px;
}
.navBar-box{
    margin-right:20%;
}
.navBar span{
    width: 118px;
    display: inline-block;
    float: right;
    text-align: center;
}
.active.navbarText{
    border-top:3px solid #ffffff;
    line-height: 74px;
}
.btnDefault{
    background: url(../img/protocol_btn_pre.png) no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
}