body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  background-color: #fff;
}
body,
html {
  min-width: 1200px;
  overflow-x: auto;
}
/*表单默认属性*/
input::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
textarea::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
input,
textarea {
  border-color: #CCCCCC;
  font-size: 14px;
  line-height: 26px;
  resize: none;
  outline: none;
  border: 1px solid #CCCCCC;
  text-indent: 10px;
}
textarea:focus {
  border-color: #D6A003;
}
input:focus {
  border-color: #D6A003;
}
.mg0 {
  margin: 0!important;
}
.mr40 {
  margin-right: 40px;
}
h3 {
  font-weight: normal;
}
.bdno {
  border: none!important;
}
.clearfloat:after {
  display: block;
  content: '';
  height: 0;
  width: 0;
  clear: both;
}
.container {
  width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/*内容*/
.main {
  background: #fff;
}
.main .main-box {
  background: url("../../images/about-us/about-us-bg.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .mod {
  padding: 30px 0;
}
.main .main-box .mod .hd {
  width: 208px;
  float: left;
  background: #fff;
  margin-right: 10px;
}
.main .main-box .mod .hd ul {
  border: 1px solid #E6E6E6;
  border-bottom: 0;
}
.main .main-box .mod .hd ul li {
  line-height: 66px;
  padding-left: 49px;
  font-size: 16px;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  cursor: pointer;
}
.main .main-box .mod .hd ul .on {
  background: #000;
  color: #CBAD50;
}
.main .main-box .mod .hd ul .on .right {
  width: 10px;
  height: 15px;
  background: url("../../images/about-us/right.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
}
.main .main-box .mod .bd {
  width: 960px;
  float: right;
}
.main .main-box .mod .bd .mod-1 {
  border-top: 6px solid #DBA02C;
  border-left: 1px solid #E7E9E9;
  border-right: 1px solid #E7E9E9;
  border-bottom: 1px solid #E7E9E9;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background: #fff;
}
.main .main-box .mod .bd .mod-1 .mod-1-unit {
  padding-top: 25px;
  padding-left: 55px;
}
.main .main-box .mod .bd .mod-1 .mod-1-unit .init-img {
  float: left;
  margin-right: 40px;
}
.main .main-box .mod .bd .mod-1 .mod-1-unit .init-img img {
  display: block;
}
.main .main-box .mod .bd .mod-1 .mod-1-unit .init-info {
  float: left;
  width: 790px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E9E9;
}
.main .main-box .mod .bd .mod-1 .mod-1-unit .init-info p.title {
  color: #DCA230;
}
.main .main-box .mod .bd .mod-2 {
  border-top: 6px solid #DBA02C;
  border-left: 1px solid #E7E9E9;
  border-right: 1px solid #E7E9E9;
  border-bottom: 1px solid #E7E9E9;
  padding-left: 43px;
  padding-bottom: 65px;
  background: #fff;
}
.main .main-box .mod .bd .mod-2 .title {
  line-height: 75px;
  color: #A8A8A8;
  font-size: 18px;
}
.main .main-box .mod .bd .mod-2 .mod-2-unit {
  margin-bottom: 20px;
}
.main .main-box .mod .bd .mod-2 .mod-2-unit .unit-img {
  display: block;
  float: left;
  margin-right: 30px;
}
.main .main-box .mod .bd .mod-2 .mod-2-unit .unit-info {
  padding-top: 50px;
  font-size: 16px;
}
.main .main-box .mod .bd .mod-2 .mod-2-unit .unit-info p {
  margin-bottom: 5px;
}
.main .main-box .mod .bd .mod-2 .customer-service {
  color: #DBA02C;
  font-size: 20px;
  padding-left: 10px;
}
.main .main-box .mod .bd .mod-2 .customer-service p {
  color: #999999;
  margin-bottom: 50px;
}
.main .main-box .mod .bd .mod-2 .customer-service .tel-img {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.main .main-box .mod .bd .mod-2 .customer-service span.tel {
  display: inline-block;
  margin-left: 20px;
  font-size: 25px;
  position: relative;
  top: 2px;
}
.main .main-box .mod .bd .grid-2 {
  background: #fff;
}
.main .main-box .mod .bd .mod-3 {
  border-top: 6px solid #DBA02C;
  border-left: 1px solid #E7E9E9;
  border-right: 1px solid #E7E9E9;
  border-bottom: 1px solid #E7E9E9;
  padding-left: 43px;
  padding-bottom: 105px;
  padding-right: 40px;
  background: url("../../images/about-us/bg.png") no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}
.main .main-box .mod .bd .mod-3 .title {
  line-height: 80px;
  font-size: 18px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 35px;
}
.main .main-box .mod .bd .mod-3 .mod-3-unit {
  padding-bottom: 90px;
}
.main .main-box .mod .bd .mod-3 .mod-3-unit .unit-img {
  display: block;
  float: left;
  margin-right: 40px;
}
.main .main-box .mod .bd .mod-3 .mod-3-unit .unit-p {
  float: right;
  width: 555px;
}
.main .main-box .mod .bd .mod-3 .mod-3-unit .p1 {
  margin-bottom: 35px;
}
.main .main-box .mod .bd .mod-3 .mod-3-unit .p1 span {
  font-size: 28px;
  color: #DBA02C;
}
/*底部样式*/
.footer {
  background: #18292c;
}
.footer .content {
  padding: 36px 40px 0;
}
.footer .content .nav li {
  float: left;
  margin-right: 160px;
}
.footer .content .nav li p {
  font-size: 24px;
  line-height: 24px;
  color: #8c9496;
  margin-bottom: 18px;
}
.footer .content .nav li a {
  font-size: 16px;
  line-height: 30px;
  color: #48666a;
  padding: 5px 0;
  display: block;
}
.footer .content .code {
  border: 1px solid #465456;
  padding: 10px;
}
.footer .content .code img {
  margin-bottom: 8px;
}
.footer .content .code p {
  font-size: 14px;
  line-height: 14px;
  color: #48666a;
  text-align: center;
  margin-top: 4px;
}
.footer .copyright {
  padding: 40px 0;
  font-size: 12px;
  line-height: 20px;
  color: #10434f;
  text-align: center;
}
.fr {
  float: right!important;
}
.fl {
  float: left!important;
}
