body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  background-color: #fff;
}
body,
html {
  min-width: 1200px;
  overflow-x: auto;
}
/*表单默认属性*/
input::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
textarea::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
input,
textarea {
  border-color: #CCCCCC;
  font-size: 14px;
  line-height: 26px;
  resize: none;
  outline: none;
  border: 1px solid #CCCCCC;
  text-indent: 10px;
  box-sizing: border-box;
}
textarea:focus {
  border-color: #D6A003;
}
input:focus {
  border-color: #D6A003;
}
.mg0 {
  margin: 0!important;
}
.bdno {
  border: none!important;
}
.clearfloat:after {
  display: block;
  content: '';
  height: 0;
  width: 0;
  clear: both;
}
.container {
  width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/*内容*/
.main {
  background: #fff;
}
.main .main-box {
  background: url("../../../images/personal-homepage/bg.png") no-repeat;
  background-size: 100% auto;
  padding-top: 38px;
}
.main .main-box .grid-1 {
  background: #303030;
  padding: 45px 75px 25px 45px;
  position: relative;
}
.main .main-box .grid-1 .head-img {
  position: relative;
  width: 115px;
  height: 115px;
  float: left;
}
.main .main-box .grid-1 .head-img img {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
}
.main .main-box .grid-1 .head-img i.v {
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  background: url("../../../images/personal-homepage/shiming.png") no-repeat;
  background-size: 100% 100%;
  right: 12px;
  bottom: 0;
}
.main .main-box .grid-1 .personal-info {
  padding: 25px 20px;
  float: left;
}
.main .main-box .grid-1 .personal-info .user-name {
  font-size: 20px;
  color: #C29F4A;
  margin-bottom: 20px;
}
.main .main-box .grid-1 .personal-info .user-name span {
  width: 67px;
  height: 25px;
  background: url("../../../images/personal-homepage/pthuiyuan.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.main .main-box .grid-1 .personal-info .user-name .sex {
  width: 16px;
  height: 19px;
  display: inline-block;
  background: url("../../../images/personal-homepage/women.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 20px;
  position: relative;
  top: 3px;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit {
  display: block;
  float: left;
  color: #CCCCCC;
  margin-right: 30px;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit i {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit .address {
  display: inline-block;
  width: 13px;
  height: 17px;
  background: url("../../../images/personal-homepage/address.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit .star {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../../../images/personal-homepage/star.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit .hot {
  display: inline-block;
  width: 13px;
  height: 17px;
  background: url("../../../images/personal-homepage/hot.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-1 .personal-info .user-info .user-info-unit .gift {
  display: inline-block;
  width: 17px;
  height: 15px;
  background: url("../../../images/personal-homepage/gift.png") no-repeat;
  background-size: 100% 100%;
}
.main .main-box .grid-1 .sign-in-btn {
  width: 154px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 75px;
  margin: auto;
}
.main .main-box .grid-1 .sign-in-btn .sign-in {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 5px;
  background: url("../../../images/personal-homepage/sign-in.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 12px;
}
.main .main-box .grid-2 {
  padding: 30px 0;
}
.main .main-box .grid-2 .tabs1 .hd1 {
  width: 208px;
  float: left;
  background: #fff;
  margin-right: 10px;
}
.main .main-box .grid-2 .tabs1 .hd1 ul {
  border: 1px solid #E6E6E6;
  border-bottom: 0;
}
.main .main-box .grid-2 .tabs1 .hd1 ul li {
  line-height: 66px;
  font-size: 16px;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .hd1 ul li a {
  padding-left: 49px;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.main .main-box .grid-2 .tabs1 .hd1 ul li .news-num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #F8421D;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
}
.main .main-box .grid-2 .tabs1 .hd1 ul .on {
  background: #000;
}
.main .main-box .grid-2 .tabs1 .hd1 ul .on a {
  color: #CBAD50;
}
.main .main-box .grid-2 .tabs1 .hd1 ul .on .right {
  width: 10px;
  height: 15px;
  background: url("../../../images/about-us/right.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
}
.main .main-box .grid-2 .tabs1 .bd1 {
  width: 975px;
  float: right;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 {
  border: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .hd {
  float: none;
  width: 100%;
  background: #FAFAFA;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .hd ul {
  padding-left: 30px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .hd ul li {
  float: left;
  font-size: 18px;
  padding: 0 14px;
  line-height: 65px;
  border-bottom: 2px solid #FAFAFA;
  margin-right: 65px;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .hd ul .on {
  color: #DBA02C;
  border-bottom: 2px solid #DBA02C;
  background: #FAFAFA;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd {
  background: #fff;
  float: none;
  box-sizing: border-box;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-title {
  padding-left: 40px;
  line-height: 104px;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-title i {
  color: #F8421D;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-title .read-all {
  width: 125px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #D2AA2C;
  font-size: 14px;
  border: 1px solid #D2AA2C;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 41px;
  margin: auto;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-title .read-all:active {
  border-color: #B38608;
  color: #B38608;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list {
  padding-top: 28px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list .list-title {
  font-size: 16px;
  padding-left: 40px;
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list .list-title .order-img {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list .list-title .new {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #F8421D;
  border-radius: 50%;
  position: relative;
  top: -5px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list .list-info {
  padding-left: 40px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list .list-info p.time {
  font-size: 12px;
  color: #9C9C9C;
  margin-bottom: 13px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list .list-info .more {
  display: block;
  color: #DBA02C;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list .delete {
  position: absolute;
  color: #6E6E6E;
  padding-left: 23px;
  top: 30px;
  right: 40px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list .delete img {
  position: absolute;
  left: 0;
  top: 2px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .mod-bd1-list:hover .delete {
  opacity: 1;
  filter: alpha(opacity=100);
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn {
  width: 345px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 50px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn i,
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn span {
  display: block;
  float: left;
  text-align: center;
  line-height: 33px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn i {
  width: 53px;
  margin-right: 12px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn span {
  width: 33px;
  margin-right: 7px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd1 .page-btn .active {
  background: #000;
  border-color: #000;
  color: #fff;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-title {
  padding-left: 40px;
  line-height: 104px;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-title i {
  color: #F8421D;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-title .read-all {
  width: 125px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #D2AA2C;
  font-size: 14px;
  border: 1px solid #D2AA2C;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 41px;
  margin: auto;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-title .read-all:active {
  border-color: #B38608;
  color: #B38608;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-list {
  padding: 35px 55px 30px 40px;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-list .list-content {
  float: left;
  width: 775px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-list .list-content p.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-list .list-content p.title .new {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #F8421D;
  border-radius: 50%;
  position: relative;
  top: -5px;
  margin-left: 5px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .mod-bd1-list .list-content p.time {
  font-size: 12px;
  color: #9C9C9C;
  padding-top: 20px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn {
  width: 345px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 50px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn i,
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn span {
  display: block;
  float: left;
  text-align: center;
  line-height: 33px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn i {
  width: 53px;
  margin-right: 12px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn span {
  width: 33px;
  margin-right: 7px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd2 .page-btn .active {
  background: #000;
  border-color: #000;
  color: #fff;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-title {
  padding-left: 43px;
  height: 104px;
  line-height: 104px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
  font-size: 16px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-title i {
  color: #F8421D;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-title .read-all {
  width: 125px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #D2AA2C;
  font-size: 14px;
  border: 1px solid #D2AA2C;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 41px;
  margin: auto;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-title .read-all:active {
  border-color: #B38608;
  color: #B38608;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list {
  padding-top: 35px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .head-img {
  float: left;
  width: 90px;
  height: 90px;
  margin-right: 25px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .head-img img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info {
  float: left;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .title {
  font-size: 16px;
  color: #DBA02C;
  margin-bottom: 8px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .title .new {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #F8421D;
  border-radius: 50%;
  position: relative;
  top: -5px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info p.time {
  font-size: 12px;
  color: #9C9C9C;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .input-box {
  padding-top: 20px;
  width: 662px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .input-box textarea {
  display: block;
  width: 100%;
  height: 115px;
  margin-bottom: 19px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .input-box .input-btn {
  line-height: 32px;
  color: #999;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .input-box .input-btn .u-btn-t {
  width: 78px;
  height: 28px;
  border: 2px solid #D2A929;
  color: #D2A929;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  margin-right: 25px;
  float: right;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .input-box .input-btn .u-btn-f {
  width: 78px;
  height: 28px;
  border: 2px solid #999;
  color: #999;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  float: right;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box {
  width: 662px;
  padding-top: 25px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box .up {
  border: 1px solid #E6E6E6;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
  position: relative;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box .up .head-img {
  height: 48px;
  width: 48px;
  float: left;
  margin-right: 20px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box .up .head-img img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box .up .up-info {
  float: left;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box .up .up-info .up-title {
  color: #DBA02C;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box .up .up-info p.time {
  font-size: 12px;
  color: #9C9C9C;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box .up .arrow {
  width: 15px;
  height: 12px;
  background: #fff;
  position: absolute;
  top: -12px;
  left: 40px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .list-info .up-box .up .arrow img {
  width: 100%;
  height: 100%;
  display: block;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list .write-back {
  position: absolute;
  display: block;
  bottom: 45px;
  right: 40px;
  cursor: pointer;
  color: #DBA02C;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .mod-bd3-list:hover .write-back {
  opacity: 1;
  filter: alpha(opacity=100);
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .page-btn {
  width: 345px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 50px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .page-btn i,
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .page-btn span {
  display: block;
  float: left;
  text-align: center;
  line-height: 33px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .page-btn i {
  width: 53px;
  margin-right: 12px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .page-btn span {
  width: 33px;
  margin-right: 7px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd3 .page-btn .active {
  background: #000;
  border-color: #000;
  color: #fff;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-title {
  padding-left: 40px;
  line-height: 104px;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-title i {
  color: #F8421D;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-title .read-all {
  width: 125px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #D2AA2C;
  font-size: 14px;
  border: 1px solid #D2AA2C;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 41px;
  margin: auto;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-title .read-all:active {
  border-color: #B38608;
  color: #B38608;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-list {
  padding: 35px 55px 30px 40px;
  border-bottom: 1px solid #E6E6E6;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-list .head-img {
  float: left;
  width: 78px;
  height: 78px;
  margin-right: 25px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-list .head-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-list .list-content {
  float: left;
  width: 775px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-list .list-content p.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-list .list-content p.title .new {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #F8421D;
  border-radius: 50%;
  position: relative;
  top: -5px;
  margin-left: 5px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .mod-bd1-list .list-content p.time {
  font-size: 12px;
  color: #9C9C9C;
  padding-top: 20px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .page-btn {
  width: 345px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 50px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .page-btn i,
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .page-btn span {
  display: block;
  float: left;
  text-align: center;
  line-height: 33px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .page-btn i {
  width: 53px;
  margin-right: 12px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .page-btn span {
  width: 33px;
  margin-right: 7px;
}
.main .main-box .grid-2 .tabs1 .bd1 .ul-1 .tabs2 .bd .mod-bd4 .page-btn .active {
  background: #000;
  border-color: #000;
  color: #fff;
}
/*底部样式*/
.footer {
  background: #18292c;
}
.footer .content {
  padding: 36px 40px 0;
}
.footer .content .nav li {
  float: left;
  margin-right: 160px;
}
.footer .content .nav li p {
  font-size: 24px;
  line-height: 24px;
  color: #8c9496;
  margin-bottom: 18px;
}
.footer .content .nav li a {
  font-size: 16px;
  line-height: 30px;
  color: #48666a;
  padding: 5px 0;
  display: block;
}
.footer .content .code {
  border: 1px solid #465456;
  padding: 10px;
}
.footer .content .code img {
  margin-bottom: 8px;
}
.footer .content .code p {
  font-size: 14px;
  line-height: 14px;
  color: #48666a;
  text-align: center;
  margin-top: 4px;
}
.footer .copyright {
  padding: 40px 0;
  font-size: 12px;
  line-height: 20px;
  color: #10434f;
  text-align: center;
}
.fr {
  float: right!important;
}
.fl {
  float: left!important;
}
