{extend name="common/base"}
{block name="content-header"}
<link rel="stylesheet" href="__STATIC__/admin/plugins/select2/select2.min.css">
<h1>
    {$module_names[0]}
    <small>
        {$module_names[1]}</small>
</h1>
<ol class="breadcrumb">
    {volist name="module_names" id="vo"}
    <li {if condition="$module_nums==$key"}class="active"{/if}>{if condition="0==$key"}<i class="fa fa-dashboard"></i>{/if} {$vo}</li>
    {/volist}
</ol>
{/block}

{block name="content"}

        <div class="row">
    <div class="col-xs-12">
        <div class="box">
         <div class="box-header">
            <nav class="navbar navbar-default">
                <div class="collapse navbar-collapse">
                  <form class="navbar-form form-inline" action="" method="post">
                    <div class="form-group pull-right">
                        <a href="{:url('admin/account/add')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加用户</a>
                    </div>
                  </form>
                </div>
            </nav>
         </div>
         <div class="box-body">
            <div class="row">
            <div class="col-sm-12">
              <table id="list-table" class="table table-bordered table-striped dataTable">
                 <thead>
                   <tr role="row">
                       <th>ID</th>
                       <th>用户名</th>
                       <th>所属角色</th>
                      
                       <th>加入时间</th>
                       <th>操作</th>
                   </tr>
                 </thead>
                <tbody>
                    {volist name="list" id="vo"}
                    <tr role="row">
                        <td>{$vo.id}</td>
                        <td>{$vo.account}</td>
                        <td>{$vo.role}</td>
                        <td>{$vo.create_time}</td>
                        <td>
                            <a class="btn btn-primary" title="编辑账号" href="{:url('admin/account/edit',array('id'=>$vo['id']))}"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-primary set-auth" data-id="{$vo.id}" title="分配角色" href="javascript:void(0)"><i class="fa fa-asterisk"></i></a>
                            <a class="btn btn-danger js_del" title="删除账号" href="javascript:void(0)" data-url="{:url('api/account/del')}" data-id="{$vo.id}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {/volist}
                   </tbody>
                 <tfoot>
                 </tfoot>
               </table>
           </div>
      </div>
     </div>
    </div>
    </div>
</div>
    </section>
</div>

<!-- 分配角色 -->
<div style="display:none" id="SetAuthDiv">
<form id="js_setAuthForm" action="{:url('admin/account/setRole')}">
<input type="hidden" name="user_id" value="">
<table class="table table-bordered no-margin">
<tr>
    <td class="text-right" width="100"><b>选择角色：<em class="text-star">*</em></b></td>
    <td class="text-left">
        {volist name="roles" id="vo"}
        <input type="checkbox" name="role_id[]" value="{$key}"/>&nbsp;{$vo}&nbsp;&nbsp;&nbsp;&nbsp;
        {/volist}
    </td>
</tr>
</table>
<p style="text-align:center;padding:5px;">
<button class="btn btn-primary btn-sm" type="submit">确定</button>
</p>
</form>
</div>


{/block}

{block name="script"}
<script>
$(".js_del").on("click",function(){
    var id = $(this).attr("data-id"),
        url = $(this).attr("data-url");
    console.log(id, url);
    layer.confirm('确认删除？', function(){
        $.ajax({
            type : 'post',
            url : url,
            data : {id:id},
            dataType : 'json',
            success : function(res){
                if(res){
                  layer.msg('删除成功',{icon:6,title:'温馨提示'},function(){
                    window.location = admin_url+"account/index";
                  });
                }else {
                  layer.msg('删除失败',{icon:6,title:'温馨提示'});
                }
            }
        })
    });
});

//批量推荐
$(".set-auth").on("click",function(){
    var user_id = $(this).attr("data-id");

    $("input[name='user_id']").val(user_id);
    layerApi = layer.open({
        type: 1,
        title:"分配权限",
        area:["auto","auto"],
        content: $('#SetAuthDiv'),
        yes: function(index){
            //这里写验证
            layer.close(index);//一般设定yes回调，必须进行手工关闭
        }
    });
});

$("#js_setAuthForm").validate({
    submitHandler : function(form){
        var url = $("#js_setAuthForm").attr("action");
        $.ajax({
            url : url,
            type : "post",
            dataType : "json",
            data : $("#js_setAuthForm").serialize(),
            success : function(res){
                if( res.status == true ){
                    location.href = res.url;
                }else {
                    layer.alert(res.msg, {icon: 2});
                }
            }
        });
    }
});

</script>
{/block}